<% if current_user.has_role? :admin %>
  <a href="/motivos/new" class="link_new">Adicionar Motivos</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Descri&ccedil;&atilde;o</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @motivos.each do |motivo| %>
  <tr>
    <%= "<td class='ativo'></td>" if motivo.status == Motivo::ATIVO %>
    <%= "<td class='inativo'></td>" if motivo.status == Motivo::INATIVO %>
    <td onclick="location.href='<%= motivo_path(motivo) %>'" onmouseover="this.style.cursor='pointer'"><%=h motivo.descricao %></td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_motivo_path(motivo) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_motivo_path(motivo) %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

