<div id="tabela_exibir">
  <div class="index_relatorios">
    <ul>
      <li>
        <%= link_to "Km percorridos em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Km percorridos por centro em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Km percorridos por motorista em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Km percorridos por veículo em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Status das requisições em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Status das requisições por centro em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Status das requisições por laboratório em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Status das requisições por solicitante em um determinado período", relatorios_path %>
      </li>
      <li>
        <%= link_to "Horas trabalhadas por motorista em um determinado período", relatorios_path %>
      </li>
    </ul>
  </div>
</div>

