<% form_for(@categoria_de_veiculo) do |f| %>
  <%= mensagem_de_erro(@categoria_de_veiculo) %>

  <fieldset>

    <legend>Limite para fazer uma requisição com essa categoria</legend>
    <p>
      <%= f.label :numero_minimo_dias, "Mínimo:" %>
      <%= f.text_field :numero_minimo_dias, :class => "campo_de_poucos_digitos" %>
      (dias)
    </p>

    <p>
      <%= f.label :numero_maximo_dias, "Máximo:" %>
      <%= f.text_field :numero_maximo_dias, :class => "campo_de_poucos_digitos" %>
      (dias)
    </p>

  </fieldset>

  <p>
    <%= f.label :nome, "Nome:", :class => "label_obrigatorio" %>
    <%= f.text_field :nome %>
  </p>

  <p>
    <%= f.label :status, "Status:", :class => "label_obrigatorio" %>
    <%= f.select :status, {Solicitante::ATIVO => Solicitante::ATIVO,
                           Solicitante::INATIVO => Solicitante::INATIVO} %>
  </p>

  <%= f.submit 'Salvar' %>

<% end %>

