<% if current_user.has_role? :admin %>
  <a href="/categoria_de_veiculos/new" class="link_botao">Adicionar Categoria de Ve&iacute;culo</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @categoria_de_veiculos.each do |categoria_de_veiculo| %>
  <tr>
    <%= "<td class='ativo'></td>" if categoria_de_veiculo.status == CategoriaDeVeiculo::ATIVO %>
    <%= "<td class='inativo'></td>" if categoria_de_veiculo.status == CategoriaDeVeiculo::INATIVO %>
    <td onclick="location.href='<%= categoria_de_veiculo_path(categoria_de_veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h categoria_de_veiculo.nome %></td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_categoria_de_veiculo_path(categoria_de_veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_categoria_de_veiculo_path(categoria_de_veiculo) %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

