<div class="show_padrao">

  <h1>Dados da Categoria de veículo</h1>

  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @categoria_de_veiculo.nome %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="location.href='<%= categoria_de_veiculos_path %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Voltar', categoria_de_veiculos_path %></li>
    <li id="opcao_editar" onclick="location.href='<%= edit_categoria_de_veiculo_path(@categoria_de_veiculo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_categoria_de_veiculo_path(@categoria_de_veiculo) %></li>
    <li id="opcao_excluir" onclick="if (confirm('Tem certeza que deseja apagar?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '/categoria_de_veiculos/<%= @categoria_de_veiculo.id %>';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', '<%= form_authenticity_token %>'); f.appendChild(s);f.submit(); };return false;" onmouseover="this.style.cursor = 'pointer'">
      Excluir
    </li>
  </ul>
</div>

