<div class="show_padrao">

  <h1>Dados da categoria de veículo</h1>

  <p>
    <label>Nome:</label>
    <span><%=h @categoria_de_veiculo.nome %></span>
  </p>

  <p>
    <label>Status:</label>
    <span><%=h @categoria_de_veiculo.status %></span>
  </p>

  <p>
    <label>Limite min:</label>
    <span><%=h @categoria_de_veiculo.numero_minimo_dias %> dias</span>
  </p>

  <p>
    <label>Limite max:</label>
    <span><%=h @categoria_de_veiculo.numero_maximo_dias %> dias</span>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_categoria_de_veiculo_path(@categoria_de_veiculo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_categoria_de_veiculo_path(@categoria_de_veiculo) %></li>
  </ul>
</div>

