<% form_for(@objetivo_de_reserva) do |f| %>
  <%= mensagem_de_erro(@objetivo_de_reserva) %>

  <p>
    <%= f.label :texto, "Texto:", :class => "label_obrigatorio" %>
    <%= f.text_field :texto %>
  </p>

  <p>
    <%= f.label :status, "Status:", :class => "label_obrigatorio" %>
    <%= f.select :status, {Solicitante::ATIVO => Solicitante::ATIVO,
                           Solicitante::INATIVO => Solicitante::INATIVO} %>
  </p>

  <p>
    <%= f.check_box :obrigatorio %>
    <%= f.label :obrigatorio, "Obs. obrigatória" %>
  </p>

  <%= f.submit 'Salvar' %>

<% end %>

