<div class="show_padrao">

<h1>Editar Objetivo de reserva</h1>

<% form_for(@objetivo_de_reserva) do |f| %>
  <%= f.error_messages %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :texto, "Texto:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :texto %></div>
  </div>
  
  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :estado, "Estado:" %></div>
    <div class="linha_texto_neutro"><%= f.select :estado, {Solicitante::INATIVO => Solicitante::INATIVO, 
                                                          Solicitante::ATIVO => Solicitante::ATIVO} %></div>
  </div>   

  <div class="botao_concluir"><%= f.submit 'Atualizar' %></div>

<% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
  </ul>
</div>

