<h1>Listing objetivos_de_reserva</h1>

<table>
  <tr>
    <th>Texto</th>
  </tr>

<% @objetivos_de_reserva.each do |objetivo_de_reserva| %>
  <tr>
    <td><%=h objetivo_de_reserva.texto %></td>
    <td><%= link_to 'Show', objetivo_de_reserva %></td>
    <td><%= link_to 'Edit', edit_objetivo_de_reserva_path(objetivo_de_reserva) %></td>
    <td><%= link_to 'Destroy', objetivo_de_reserva, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New objetivo_de_reserva', new_objetivo_de_reserva_path %>