<div class="show_padrao">

  <h1>Dados do objetivo de reserva</h1>

  <p>
    <label>Texto:</label>
    <span><%=h @objetivo_de_reserva.texto %></span>
  </p>

  <p>
    <label>Status:</label>
    <span><%=h @objetivo_de_reserva.status %></span>
  </p>

  <p>
    <label>Obs. obrigatória:</label>
    <span><%=h @objetivo_de_reserva.obrigatorio ? 'Sim' : 'Não' %></span>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_objetivo_de_reserva_path(@objetivo_de_reserva) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_objetivo_de_reserva_path(@objetivo_de_reserva) %></li>
  </ul>
</div>

