<p>
  <%= f.label :instituicao, "Nome:" %>
  <%= f.text_field :instituicao %>
</p>

<p>
  <%= f.label :nome_do_setor, "Setor de transporte:" %>
  <%= f.text_field :nome_do_setor %>
</p>

<p>
  <%= f.label :telefones, 'Telefone(s):' %>
  <%= f.text_field :telefones %>
  <em>Telefones que irão aparecer nos e-mails enviados.</em>
</p>

<p>
  <%= f.label :nome_centro, 'Unidade hierárquica:' %>
  <%= f.text_field :nome_centro %>
  <em>Nome da unidade em que a hierarquia organizacional é dividida. (ex. Centro, Setor, etc)</em>
</p>

