<h1>Dados da reserva</h1>

<p>
  <label>Protocolo:</label>
  <span><%=h @requisicao.id%></span>
</p>

<p>
  <label>Data de reserva:</label>
  <span>
    <%=h @requisicao.data_de_reserva ? @requisicao.data_de_reserva.strftime("%d/%m/%Y") : '-'  %>
  </span>
</p>

<p>
  <label>Categoria de veículo:</label>
  <span><%=h CategoriaDeVeiculo.find(@requisicao.categoria_de_veiculo_id).nome %></span>
</p>

<p>
  <label>Objetivo da reserva:</label>
  <span>
    <%=h ObjetivoDeReserva.find(@requisicao.objetivo_de_reserva_id).texto \
      + ( @requisicao.outros.blank? ? '' : ": #{@requisicao.outros}" )
    %>
  </span>
</p>

<p>
  <label>Passageiros:</label>
  <span><%=h @requisicao.nome_telefone_passageiros %></span>
</p>

<p>
  <label>Roteiro da agenda:</label>
  <span><%=h @requisicao.roteiro_da_agenda %></span>
</p>

<p>
  <label>Observacao:</label>
  <span><%=h @requisicao.observacao.blank? ? '-' : @requisicao.observacao %></span>
</p>

<p>
  <label>Estado:</label>
  <span><%=h @requisicao.estado.to_s %></span>
</p>

<% if !@requisicao.motivo_id.nil? %>
  <p>
    <label>Motivo informado pelo Sistema: </label>
    <span><%=h Motivo.find(@requisicao.motivo_id).descricao %></span>
  </p>
<% end %>

<% if !@requisicao.motivo_observacao.nil? %>
  <p>
    <label>Observações do motivo:</label>
    <span><%=h @requisicao.motivo_observacao %></span>
  </p>
<% end %>

<% if !@requisicao.motivo_professor.nil? %>
  <p>
    <label>Motivo informado pelo Professor:</label>
    <span><%=h @requisicao.motivo_professor.to_s %></span>
  </p>
<% end %>

