<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag "viagem_nova_existente.js" %>
<%= calendar_date_select_includes "silver", :locale => "pt"%>
<%= javascript_include_tag "calendar_date_select/format_italian" %>

<div class="show_padrao">

  <div class="formularios_embutidos">
  <% form_tag :controller => "requisicoes", :action => "fechar_viagem", :id => @requisicao.id do %>
    <fieldset>
      <legend>Detalhes da viagem</legend>
      <%= mensagem_de_erro(@viagem) %>
      <%= mensagem_de_erro @requisicao %>

      <div id="viagem_nova_existente">
        <fieldset>
          <legend>Atender com uma viagem:</legend>
            <%= radio_button_tag :escolha_de_viagem, "nova", true, :onclick => "viagemNovaOuExistente()" %>
            <%= label_tag :escolha_de_viagem_nova, "Nova: ", :id => "label_viagem_nova" %>
            <br class="pular_linha"/>

            <%= radio_button_tag :escolha_de_viagem, "existente", false, :onclick => "viagemNovaOuExistente()" %>
            <%= label_tag :escolha_de_viagem_existente, "Existente: ", :id => "label_viagem_existente" %>
            <br class="pular_linha"/>
        </fieldset>

        <fieldset>
          <legend>Dados para envio de E-mail</legend>
          <%= check_box_tag :email, "email", false, :onclick => "verificarEmail()" %>
          <%= label_tag :email, "Não enviar e-mail" %>
          <br class="pular_linha" />
          <%= label_tag "corpo_do_email", "Corpo do E-mail:" %>
          <%= text_area_tag "corpo_do_email" %>
          <br class="pular_linha" />
          <%= label_tag "destinatarios", "Destinatários:" %>
          <%= text_field_tag "destinatarios" %> (Separar com ponto e vírgula)
        </fieldset>
      </div>

      <!-- ================= VIAGEM NOVA =================================== -->

      <div id="viagem_nova">
      <fieldset>
        <legend>Dados da nova viagem:</legend>
          <label for="viagem_data_de_saida">Data de saída:</label>
          <%= calendar_date_select_tag "viagem_data_de_saida",
                                      @viagem.data_partida ? @viagem.data_partida.to_date.to_s_br : "",
                                      :name => "data_saida",
                                      :year_range => [0.years.ago, 2.years.from_now],
                                      :month_year => "label",
                                      :class => "campo_de_poucos_digitos"%> <br class="pular_linha"/>

          <%= observe_field :viagem_data_de_saida,
                            :url => { :controller => :requisicoes,
                              :action => :opcoes_motoristas },
                            :update => :motorista_ids,
                            :with => "'data_partida=' + document.getElementById('viagem_data_de_saida').value + '&data_chegada=' + document.getElementById('viagem_data_de_chegada').value",
                            :frequency => 0.1
                            %>

          <%= observe_field :viagem_data_de_saida,
                            :url => { :controller => :requisicoes,
                              :action => :opcoes_veiculos },
                            :update => :veiculo_id,
                            :with => "'data_partida=' + document.getElementById('viagem_data_de_saida').value + '&data_chegada=' + document.getElementById('viagem_data_de_chegada').value + '&categoria_de_veiculo_id=' + '#{@requisicao.categoria_de_veiculo_id}'",
                            :frequency => 0.1
                            %>

          <label for="viagem_data_de_chegada">Data de chegada:</label>
          <%= calendar_date_select_tag "viagem_data_de_chegada",
                                      @viagem.data_chegada ? @viagem.data_chegada.to_date.to_s_br : "",
                                      :name => "data_chegada",
                                      :year_range => [0.years.ago, 2.years.from_now],
                                      :month_year => "label",
                                      :class => "campo_de_poucos_digitos"%>
          <br class="pular_linha"/>

          <%= observe_field :viagem_data_de_chegada,
                            :url => { :controller => :requisicoes,
                              :action => :opcoes_motoristas },
                            :update => :motorista_ids,
                            :with => "'data_partida=' + document.getElementById('viagem_data_de_saida').value + '&data_chegada=' + document.getElementById('viagem_data_de_chegada').value",
                            :frequency => 0.1
                            %>

          <%= observe_field :viagem_data_de_chegada,
                            :url => { :controller => :requisicoes,
                              :action => :opcoes_veiculos },
                            :update => :veiculo_id,
                            :with => "'data_partida=' + document.getElementById('viagem_data_de_saida').value + '&data_chegada=' + document.getElementById('viagem_data_de_chegada').value + '&categoria_de_veiculo_id=' + '#{@requisicao.categoria_de_veiculo_id}'",
                            :frequency => 0.1
                            %>

          <label for="horario_partida">Horário de saída:</label>
          <%= time_select :horario, :partida, {:minute_step => 5, :prompt => "-", :ignore_date => true}%>
          <br class="pular_linha"/>

          <label for="veiculo_id">Veículo:</label>
          <select name="veiculo_id" id="veiculo_id">
            <%= grouped_options_for_select(@lista_veiculos, "", "Selecione um veículo") %>
          </select>
          <br class="pular_linha"/>

          <label for="motorista_ids" class="label_obrigatorio">Motoristas:</label>
          <select name="motorista_ids[]" id="motorista_ids" multiple="multiple" size="5">
            <%= grouped_options_for_select(@lista_motoristas) %>
          </select>
          <br class="pular_linha"/>

        </fieldset>

      </div>

      <!-- ================= VIAGEM EXISTENTE ============================== -->

      <div id="viagens_existentes" class="invisivel">
        <table id="viagens" class="tabela_padrao">
          <tr>
            <th>Data de partida</th>
            <th>Data de chegada</th>
            <th>Horário de partida</th>
            <th>Motorista</th>
            <th>Veículo</th>
            <th>Requisição(s) atendida(s)</th>
            <th>Escolha</th>
          </tr>

        <% @viagens.each do |viagem|%>
          <% (veiculo = Veiculo.find(viagem.veiculo_id)) if viagem.veiculo_id%>
          <tr onmouseover="this.style.cursor='pointer'">
            <td onclick="location.href='<%= viagem_path(viagem) %>'"><%=h (viagem.data_partida.strftime("%d/%m/%Y")) if viagem.data_partida %></td>
            <td onclick="location.href='<%= viagem_path(viagem) %>'"><%=h (viagem.data_chegada.strftime("%d/%m/%Y")) if viagem.data_chegada %></td>
            <td onclick="location.href='<%= viagem_path(viagem) %>'"><%=h (viagem.horario_partida.strftime("%H : %M")) if (viagem.horario_partida) %></td>
            <td onclick="location.href='<%= viagem_path(viagem) %>'"><%=h (viagem.motoristas.collect(&:nome)).to_sentence if viagem.motoristas  %></td>
            <td onclick="location.href='<%= viagem_path(viagem) %>'">
              <%=h CategoriaDeVeiculo.find(veiculo.categoria_de_veiculo_id).nome +
                " - " + veiculo.modelo + " - " + veiculo.placa if veiculo%>
            </td>
            <td onclick="location.href='<%= viagem_path(viagem) %>'"><%=h viagem.requisicoes_atendidas.to_sentence %></td>
            <td><%= radio_button_tag :id_da_viagem, viagem.id, false%></td>
          </tr>

        <% end %>

        </table>
      </div>

      <%= submit_tag "Concluir", :class => "botao_concluir" %>

    </fieldset>
  <% end %>

  </div>

  <!-- ===================================================================== -->

  <%= render :file => 'solicitantes/_show' %>

  <%= render 'show' %>

</div>

<!-- ======================================================================= -->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor='pointer'">Voltar</li>
  </ul>
  <div class="pular_linha"></li>
</div>

