<div class="show_padrao">
<p class="texto_livre">
  Escolha uma viagem abaixo para alterar a viagem que atende a requisição.
</p>
<% if !@viagens.blank? %>
  <div class="formularios_embutidos">
    <% form_tag("/requisicoes/alterar") do %>
    <%= hidden_field_tag "requisicao_id", "#{@requisicao.id}" %>
    <fieldset><legend>Alterar viagem que atende requisição</legend>
      <div id="viagem_nova">
        <fieldset>
          <legend>Viagens</legend>
          <table id="viagens" class="tabela_padrao">
            <tr>
              <th>Data de partida</th>
              <th>Data de chegada</th>
              <th>Hor&aacute;rio de partida</th>
              <th>Motorista</th>
              <th>Ve&iacute;culo</th>
              <th>Requisi&ccedil;&atilde;o(s) atendida(s)</th>
              <th>Escolha</th>
            </tr>
          <% @viagens.each do |viagem|%>
            <% (veiculo = Veiculo.find(viagem.veiculo_id)) if viagem.veiculo_id%>
            <tr>
              <td><%=h (viagem.data_partida.strftime("%d/%m/%Y")) if viagem.data_partida %></td>
              <td><%=h (viagem.data_chegada.strftime("%d/%m/%Y")) if viagem.data_chegada %></td>
              <td><%=h (viagem.horario_partida.strftime("%H : %M")) if (viagem.horario_partida) %></td>
              <td><%=h (viagem.motorista.nome_do_motorista) if viagem.motorista  %></td>
              <td>
                <%=h CategoriaDeVeiculo.find(veiculo.categoria_de_veiculo_id).nome +
                  " - " + veiculo.modelo + " - " + veiculo.placa if veiculo%>
              </td>
              <td><%=h viagem.requisicoes_atendidas.to_sentence %></td>
              <td><%= radio_button_tag :id_da_viagem, viagem.id, false %></td>
            </tr>

          <% end %>
          </table>
          <%= submit_tag "Concluir", :class => "botao_concluir" %>  
        </fieldset>
      </div>
    </fieldset>
  </div>
  
  <% end %>
  <h1>Dados da requisição</h1>
    <div id="tabela_exibir">

      <table id="requisicoes" class="tabela_padrao">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Protocolo</th>
            <th>Solicitante</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data</th>
            <th>Ve&iacute;culo</th>
            <th>Objetivo</th>
            <th>Tipo</th>
            <th>Refer&ecirc;ncia</th>
          </tr>
        </thead>

        <tbody>
            <% solicitante = Solicitante.find(@requisicao.solicitante_id) %>

            <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(@requisicao) %>'">
              <td class="<%=h traduz_class_css(@requisicao.estado) %>"><%=h @requisicao.estado[0,10] %></td>
              <td><%=h @requisicao.id %></td>
              <td><%=h solicitante.nome %></td>
              <td><%=h solicitante.cargo %></td>
              <td><%=h solicitante.email %></td>
              <td><%=h solicitante.telefone_ou_ramal %></td>
              <td><%=h @requisicao.data_de_reserva.strftime("%d/%m/%Y") %></td>
              <td><%=h CategoriaDeVeiculo.find(@requisicao.categoria_de_veiculo_id).nome %></td>
              <td><%=h ObjetivoDeReserva.find(@requisicao.objetivo_de_reserva_id).texto %></td>
              <td><%=h @requisicao.tipo ? @requisicao.tipo : "-" %></td>
              <td><%=h @requisicao.referencia_id ? @requisicao.referencia_id : "-" %></td>
            </tr>

        </tbody>
      </table>
    </div>
</div>  
<% else %>
  <p class="texto_livre">
    Não há viagens com o estado "Aguardando" cadastradas no momento.
  </p>
<% end %>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor='pointer'">Voltar</li>
  </ul>
  <div class="pular_linha"></li>
</div>
