<div id="tabela_exibir">
<p><%= link_to "Usuários", usuarios_path %></p>
<p><%= link_to "Solicitantes", solicitantes_path %></p>
<p><%= link_to "Motoristas", motoristas_path %></p>
<p><%= link_to "Veículos", veiculos_path %></p>
<p><%= link_to "Combustíveis", combustiveis_path %></p>
<p><%= link_to "Categorias de veículo", categoria_de_veiculos_path %></p>
<p><%= link_to "Motivos", motivos_path %></p>
</div>

