<% form_for @requisicao, :url => { :action => "cancelar_requisicao_pelo_professor", :id => @requisicao } do |f| %>

  <%= f.error_messages %>

  <div id="exibir_requisicao">

    <h1>Cancelamento de reserva de veículos</h1>
    <p class="legenda_obrigatorio"><strong>* Os campos em vermelho são obrigatórios</strong><p>

    <p>
      <strong>Data de reserva:</strong>
      <%=h @requisicao.data_de_reserva.strftime("%d/%m/%Y")%>
    </p>

    <p>
      <strong>Categoria de veículo:</strong>
      <%=h CategoriaDeVeiculo.find(@requisicao.categoria_de_veiculo_id).nome %>
    </p>

    <p>
      <strong>Objetivo da reserva:</strong>
      <%=h ObjetivoDeReserva.find(@requisicao.objetivo_de_reserva_id).texto %>
    </p>

    <p>
      <strong>Outros:</strong>
      <%=h @requisicao.outros %>
    </p>

    <p>
      <strong>Nome telefone passageiros:</strong>
      <%=h @requisicao.nome_telefone_passageiros %>
    </p>

    <p>
      <strong>Roteiro da agenda (ida):</strong>
      <%=h @requisicao.roteiro_da_agenda %>
    </p>

    <p>
      <strong>Observacao:</strong>
      <%=h @requisicao.observacao %>
    </p>

    <br/>

    <%= f.label :motivo_professor, "Motivo do Cancelamento:", :class => "campo_obrigatorio" %>
    <%= f.text_area :motivo_professor, :cols => nil, :rows => nil %>

    <%= f.submit 'Cancelar requisição' %>

  </div>

<% end %>

