<div class="show_padrao">

<% form_tag("/requisicoes/cancelar_pelo_sistema") do -%>
  <fieldset>
    <legend>Cancelar pelo Sistema</legend>
    <p>
      Para cancelar a requisição, selecione o motivo abaixo. Caso o motivo que você deseja não esteja na lista abaixo, <%= link_to "adicione", new_motivo_path %> outros motivos.
    </p>
    <label for="motivo_cancelamento">Motivo:</label>
    <select name="motivo" id="motivo_cancelamento">
      <%= options_from_collection_for_select(@motivos, 'id', 'descricao') %>
    </select>
    <input type="hidden" name="requisicao_id" value="<%= @requisicao.id %>">
    <%= submit_tag "Cancelar requisição" %>
  </fieldset>
<% end -%>



        <!---------------------------------------------------------------------------->

    <h1>Dados gerais</h1>

    <div class="show_linha">
      <div class="linha_titulo"> Matricula: </div> <div class="linha_texto"> <%=h @solicitante.matricula %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Nome do solicitante: </div> <div class="linha_texto"> <%=h @solicitante.nome %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Email: </div> <div class="linha_texto"> <%=h @solicitante.email %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Cargo ou funcao: </div> <div class="linha_texto"> <%=h @solicitante.cargo_ou_funcao %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Telefone ou ramal: </div> <div class="linha_texto"> <%=h @solicitante.telefone_ou_ramal %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Celular: </div> <div class="linha_texto"> <%=h @requisicao.celular %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Laboratorio ou setor: </div> <div class="linha_texto"> <%=h @solicitante.laboratorio_ou_setor %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Predio: </div> <div class="linha_texto"> <%=h @solicitante.predio %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Andar: </div> <div class="linha_texto"> <%=h @solicitante.andar %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Sala: </div> <div class="linha_texto"> <%=h @solicitante.sala %> </div>
    </div>

    <h1>Dados da reserva</h1>

    <div class="show_linha">
      <div class="linha_titulo"> Data de reserva: </div> <div class="linha_texto"> <%=h @requisicao.data_de_reserva.strftime("%d/%m/%Y")%> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Categoria do veículo: </div> <div class="linha_texto"> <%=h CategoriaDeVeiculo.find(@requisicao.categoria_de_veiculo_id).nome %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Objetivo da reserva: </div> <div class="linha_texto"> <%=h ObjetivoDeReserva.find(@requisicao.objetivo_de_reserva_id).texto %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Outros: </div> <div class="linha_texto"> <%=h @requisicao.outros %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Nome e telefone dos passageiros: </div> <div class="linha_texto"> <%=h @requisicao.nome_telefone_passageiros %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Roteiro da agenda: </div> <div class="linha_texto"> <%=h @requisicao.roteiro_da_agenda %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Observacao: </div> <div class="linha_texto"> <%=h @requisicao.observacao %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Estado: </div> <div class="linha_texto"> <%=h @requisicao.estado.to_s %> </div>
    </div>

</div>

<!---------------------------------------------------------------------------->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="location.href='<%= requisicoes_path %>'" onmouseover="this.style.cursor='pointer'"><%= link_to 'Voltar', requisicoes_path %></li>
  </ul>
  <div class="pular_linha"></li>
</div>

</div>

