<div class="show_padrao">
  <div class="formularios_embutidos">
    <% form_tag("/requisicoes/cancelar_pelo_sistema") do -%>
      <fieldset>
        <legend>Cancelar pelo Sistema</legend>
        <p>
          Para cancelar a requisi&ccedil;&atilde;o, selecione o motivo abaixo. Caso o motivo que voc&ecirc; deseja n&atilde;o esteja na lista abaixo, <%= link_to "adicione", new_motivo_path %> outros motivos.
        </p>
        <p>
          <label for="motivo_cancelamento">Motivo:</label>
          <select name="motivo" id="motivo_cancelamento">
            <%= options_from_collection_for_select(@motivos, 'id', 'descricao') %>
          </select>
          <input type="hidden" name="requisicao_id" value="<%= @requisicao.id %>"><br />
          <%= label_tag "corpo_email", "Corpo do E-mail:" %>
          <%= text_area_tag "corpo_email" %>
        </p>
        <p>
          <%= label_tag "destinatarios", "Destinat&aacute;rios:" %>
          <%= text_field_tag "destinatarios" %> (Separar com ponto e v&iacute;rgula)
        </p>
        <p>
          <%= submit_tag "Cancelar requisi&ccedil;&atilde;o", :confirm => "Deseja realmente cancelar essa requisi&ccedil;&atilde;o?" %>
        <p>
      </fieldset>
    <% end -%>
  </div>


  <!---------------------------------------------------------------------------->

  <%= render :file => 'solicitantes/_show' %>

  <%= render 'show' %>

</div>

<!---------------------------------------------------------------------------->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor='pointer'">Voltar</li>
  </ul>
  <div class="pular_linha"></li>
</div>

</div>

