<% @requisicao.each do |requisicao| %>
  <div id="confirmar_requisicao">
    <p>
      <h2>N&uacute;mero de Protocolo: <%= requisicao.id %></h2>
    </p>
    <p>
      <label>Solicitante:</label>
      <%= Solicitante.find(requisicao.solicitante_id).nome %>
    </p>
    <p>
      <label>Celular do solicitante:</label>
      <%= requisicao.celular %>
    </p>
    <p>
      <label>Data de Reserva:</label>
      <%= requisicao.data_de_reserva.strftime("%d/%m/%Y") %>
    </p>
    <p>
      <label>Categoria de ve&iacute;culo:</label>
      <%= CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %>
    </p>
    <p>
      <label>Objetivo da Reserva:</label>
      <%=h ObjetivoDeReserva.find(requisicao.objetivo_de_reserva_id).texto \
        + ( requisicao.outros.blank? ? '' : ": #{requisicao.outros}" )
      %>
    </p>

    <p>
      <label>Nome(s) e telefone do(s) passageiro(s):</label>
      <%= requisicao.nome_telefone_passageiros %>
    </p>
    <p>
      <label>Roteiro da agenda (ida):</label>
      <%= requisicao.roteiro_da_agenda %>
    </p>
    <p>
      <label>Observa&ccedil;&atilde;o:</label>
      <%= requisicao.observacao.blank? ? '-' : requisicao.observacao %>&nbsp;
    </p>
  </div>
<% end %>

<%= link_to 'Preencher outra requisi&ccedil;&atilde;o', new_requisicao_path, :class => "voltar" %>
<a href="javaScript:window.print()" class="imprimir">Imprimir Requisi&ccedil;&atilde;o</a>

