<% @requisicao.each do |requisicao| %>
<% @solicitante = Solicitante.find(requisicao.solicitante_id) %>

<div id="confirmar_requisicao">
<p>
  <h2>Número de Protocolo: <%= requisicao.id %></h2>
</p>
<p>
<span class="label_confirmacao">Telefone ou Ramal: </span><%= @solicitante.telefone_ou_ramal %>
</p>
<p>
<span class="label_confirmacao">Celular: </span><%= requisicao.celular %>
</p>
<p>
<span class="label_confirmacao">Laboratório ou Setor: </span><%= @solicitante.laboratorio_ou_setor %>
</p>
<p>
<span class="label_confirmacao">Prédio: </span><%= @solicitante.predio %>
</p>
<p>
<span class="label_confirmacao">Andar: </span><%= @solicitante.andar %>
</p>
<p>
<span class="label_confirmacao">Sala: </span><%= @solicitante.sala %>
</p>
<p>
<span class="label_confirmacao">Data de Reserva: </span><%= requisicao.data_de_reserva.strftime("%d/%m/%Y") %>
</p>
<p>
<span class="label_confirmacao">Categoria de veículo: </span><%= CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %>
</p>
<p>
<span class="label_confirmacao">Objetivo da Reserva: </span><%= requisicao.objetivo_da_reserva %>
</p>

<% unless requisicao.outros.blank? %>
  <p><%= "Outros: " + requisicao.outros %></p>
<% end %>

<p>
<span class="label_confirmacao">Nome(s) e telefone do(s) passageiro(s): </span><%= requisicao.nome_telefone_passageiros %>
</p>
<p>
<span class="label_confirmacao">Roteiro da agenda: </span><%= requisicao.roteiro_da_agenda %>
</p>
<p>
<span class="label_confirmacao">Observação:</span> <%= requisicao.observacao %>&nbsp;
</p>
</div>
<% end %>

<%= link_to 'Preencher outra requisição', new_requisicao_path, :class => "voltar" %>
<a href="javaScript:window.print()" class="imprimir">Imprimir Requisição</a>

