Nome do Solicitante: <%= @requisicao.nome_do_solicitante %><br />
E-mail: <%= @requisicao.email %><br />
Cargo ou Função: <%= @requisicao.cargo %><br />
Ramal: <%= @requisicao.telefone_ou_ramal %><br />
Celular: <%= @requisicao.celular %><br />
Lab. ou Setor: <%= @requisicao.laboratorio_ou_setor %><br />
Centro: <%= @requisicao.centro %><br />
Data de Reserva: <%= @requisicao.data_de_reserva.strftime("%d/%m/%Y") %><br />
Categoria de veículo: <%= CategoriaDeVeiculo.find(@requisicao.categoria_de_veiculo_id).nome %><br />
Objetivo da Reserva: <%= ObjetivoDeReserva.find(@requisicao.objetivo_de_reserva_id).texto %><br />
Outros: <%= @requisicao.outros %><br />
Nome(s) e telefone do(s) passageiro(s): <%= @requisicao.nome_telefone_passageiros %><br />
Roteiro da agenda: <%= @requisicao.roteiro_da_agenda %><br />
Observação: <%= @requisicao.observacao %><br />

<%= link_to 'Preencher outra requisição', new_requisicao_path %> |
<a href="javaScript:window.print()">Imprimir Requisição</a>

