<div id="tabela_exibir">

<table id="requisicoes" class="tabela_padrao">
  <thead>
    <tr>
      <th>Estado</th>
      <th>Protocolo</th>
      <th>Solicitante</th>
      <th>Cargo</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Data</th>
      <th>Veículo</th>
      <th>Objetivo</th>
      <th>Tipo</th>
      <th>Referência</th>
    </tr>
  </thead>

  <tbody>
<% @requisicoes.each do |requisicao| %>

<% solicitante = Solicitante.find(requisicao.solicitante_id) %>

    <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(requisicao) %>'">
      <td class="<%=h traduz_class_css(requisicao.estado) %>"><%=h requisicao.estado[0,9] %></td>
      <td><%=h requisicao.id %></td>
      <td><%=h solicitante.nome %></td>
      <td><%=h solicitante.cargo_ou_funcao %></td>
      <td><%=h solicitante.email %></td>
      <td><%=h solicitante.telefone_ou_ramal %></td>
      <td><%=h requisicao.data_de_reserva.strftime("%d/%m/%Y") %></td>
      <td><%=h CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %></td>
      <td><%=h requisicao.objetivo_da_reserva %></td>
      <td><%=h requisicao.tipo ? requisicao.tipo : "-" %></td>
      <td><%=h requisicao.referencia_id ? requisicao.referencia_id : "-" %></td>
    </tr>

<% end %>
  </tbody>
</table>

</div>

<br />

