<div id="tabela_exibir">
<% form_tag("/filtrar_requisicao") do -%>
<p>
<%= label_tag :filtro, "Filtrar por:" %>
  <select name="filtro" id="filtro">
    <option value="Todos">Todos</option>
    <option value="Em Espera">Em Espera</option>
    <option value="Rejeitada">Rejeitada</option>
    <option value="Cancelada pelo Professor">Cancelada pelo Professor</option>
    <option value="Cancelada pelo Sistema">Cancelada pelo Sistema</option>
    <option value="Aceita">Aceita</option>
  </select>
  <%= submit_tag "OK" %>
  </p>
<% end -%>


<table id="requisicoes" class="tabela_padrao">
    <tr>
      <th>Estado</th>
      <th>Protocolo</th>
      <th>Solicitante</th>
      <th>Cargo</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Data</th>
      <th>Ve&iacute;culo</th>
      <th>Objetivo</th>
      <th>Tipo</th>
      <th>Refer&ecirc;ncia</th>
    </tr>
<% if @requisicoes.is_a? Array %>
  <% @requisicoes.each do |requisicao| %>

  <% solicitante = Solicitante.find(requisicao.solicitante_id) %>

      <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(requisicao) %>'">
        <td class="<%=h traduz_class_css(requisicao.estado) %>"><%=h requisicao.estado[0,9] %></td>
        <td><%=h requisicao.id %></td>
        <td><%=h solicitante.nome %></td>
        <td><%=h solicitante.cargo_ou_funcao %></td>
        <td><%=h solicitante.email %></td>
        <td><%=h solicitante.telefone_ou_ramal %></td>
        <td><%=h requisicao.data_de_reserva.strftime("%d/%m/%Y") %></td>
        <td><%=h CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %></td>
        <td><%=h ObjetivoDeReserva.find(requisicao.objetivo_de_reserva_id).texto %></td>
        <td><%=h requisicao.tipo ? requisicao.tipo : "-" %></td>
        <td><%=h requisicao.referencia_id ? requisicao.referencia_id : "-" %></td>
      </tr>

  <% end %>
<% else %>
  <% if !@requisicoes.nil? %>
    <% solicitante = Solicitante.find(@requisicoes.solicitante_id) %>

        <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(@requisicoes) %>'">
          <td class="<%=h traduz_class_css(@requisicoes.estado) %>"><%=h @requisicoes.estado[0,9] %></td>
          <td><%=h @requisicoes.id %></td>
          <td><%=h solicitante.nome %></td>
          <td><%=h solicitante.cargo_ou_funcao %></td>
          <td><%=h solicitante.email %></td>
          <td><%=h solicitante.telefone_ou_ramal %></td>
          <td><%=h @requisicoes.data_de_reserva.strftime("%d/%m/%Y") %></td>
          <td><%=h CategoriaDeVeiculo.find(@requisicoes.categoria_de_veiculo_id).nome %></td>
          <td><%=h ObjetivoDeReserva.find(@requisicoes.objetivo_de_reserva_id).texto %></td>
          <td><%=h @requisicoes.tipo ? @requisicoes.tipo : "-" %></td>
          <td><%=h @requisicoes.referencia_id ? @requisicoes.referencia_id : "-" %></td>
        </tr>
      <% end %>
<% end %>

</table>

</div>

<br />

