<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "busca.js" %>
<%= calendar_date_select_includes "silver", :locale => "pt"%>
<%= javascript_include_tag "calendar_date_select/format_italian" %>

<div id="tabela_exibir">

<% if current_user.has_role? :admin %>
  <%= link_to "Nova requisição", admin_requisicao_path, :class => "link_new" %>
<% end %>

<div id="box_busca">

  <div id="box_buscar">
    <% form_tag("/requisicoes/buscar_requisicao") do -%>
        <div id="buscar_select">
          <%= label_tag :busca, "Buscar por:" %>
          <select name="busca" id="busca">
            <option onclick="busca(this)">(Selecionar)</option>
            <option value="Data" onclick="busca(this)" <%= selecao((@inicio or @fim)) %>>Data</option>
            <option value="Nome" onclick="busca(this)" <%= selecao(@nome) %>>Nome</option>
            <option value="Protocolo" onclick="busca(this)" <%= selecao(@protocolo) %>>Protocolo</option>
          </select>
        </div>
        <div class="<%= visibilidade((@fim or @inicio)) %>" id="box_data">
          <%= label_tag :inicio, "Início:" %>
          <%= calendar_date_select_tag :inicio, @inicio, :name => "inicio", :size => 9 %>
          <%= label_tag :fim, "Fim:" %>
          <%= calendar_date_select_tag :fim, @fim, :name => "fim", :size => 9 %>
        </div>

        <div class="<%= visibilidade(@nome) %>" id="box_nome">
          <%= label_tag :nome, "Nome:" %>
          <%= text_field_tag :nome, @nome %>
        </div>

        <div class="<%= visibilidade(@protocolo) %>" id="box_protocolo">
          <%= label_tag :protocolo, "Protocolo:" %>
          <%= text_field_tag :protocolo, @protocolo %>
        </div>

      <%= submit_tag "Buscar" %>
    <% end -%>
  </div>

  <div id="box_filtrar">
    <% form_tag("/filtrar_requisicao") do -%>
        <%= label_tag :filtro, "Filtrar por:" %>
          <select name="filtro" id="filtro">
            <%= options_for_select([
                    'Todos',
                    'Em Espera',
                    'Rejeitada',
                    'Cancelada pelo Professor',
                    'Cancelada pelo Sistema',
                    'Aceita'],
                    :selected => @filtro) %>
          </select>
          <%= submit_tag "OK" %>
    <% end -%>
  </div>
  <div class="clear"></div>
</div>

<table id="requisicoes" class="tabela_padrao">
    <tr>
      <th>Estado</th>
      <th>Protocolo</th>
      <th>Solicitante</th>
      <th>Cargo</th>
      <th>Email</th>
      <th>Data</th>
    </tr>
<% @requisicoes.each do |requisicao| %>

  <% solicitante = Solicitante.find(requisicao.solicitante_id) %>

      <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(requisicao) %>'">
        <td class="<%=h traduz_class_css(requisicao.estado) %>"><%=h requisicao.estado[0,10] %></td>
        <td><%=h requisicao.id %></td>
        <td><%=h solicitante.nome %></td>
        <td><%=h solicitante.cargo %></td>
        <td><%=h solicitante.email %></td>
        <td><%=h requisicao.data_de_reserva.strftime("%d/%m/%Y") %></td>
      </tr>
<% end %>

</table>

</div>

<br />

