<% configuracao = Configuracao.all.first %>

<% content_for :head do %>
  <title>Requisição de veículo: <%= configuracao.instituicao %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "new_requisicao.js" %>
  <%= calendar_date_select_includes "red", :locale => "pt"%>
  <%= javascript_include_tag "calendar_date_select/format_italian" %>
<% end %>

<h1>Requisição de veículo</h1>
<hr/>

<p>
  <em>Obs.: os campos com <span class='obrigatorio'></span> são obrigatórios</em>
<p>

<% form_for @requisicao do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Dados do solicitante</legend>

    <% fields_for @solicitante do |s|  %>

      <div class="item">
        <%= s.label :matricula, "Matrícula:", :class => :obrigatorio %>
        <%= s.text_field :matricula %>
        <em>(Colocar matrícula sem o dígito)</em>
      </div>

      <div class="item">
        <%= s.label :email, "E-mail:", :class => :obrigatorio %>
        <%= s.text_field :email %>
      </div>

    <% end %>

    <div class="item">
      <%= f.label :celular, "Celular:", :class => :obrigatorio %>
      <%= f.text_field :celular %>
    </div>

  </fieldset>

  <fieldset>
    <legend>Dados da reserva</legend>

    <div class="item">
      <%= f.label :data_de_reserva_br, "Data:", :class => :obrigatorio %>
      <%= calendar_date_select_tag "requisicao_data_de_reserva_br",
                                    @requisicao.data_de_reserva ? @requisicao.data_de_reserva.to_s_br : "",
                                    :name => "requisicao[data_de_reserva_br]",
                                    :year_range => [Time.now.year],
                                    :month_year => "label" %>
    </div>

    <div class="item">
      <%= f.label :objetivo_de_reserva_id, "Objetivo:", :class => :obrigatorio %>
      <select name="requisicao[objetivo_de_reserva_id]" id="requisicao_objetivo_de_reserva_id">
        <option value="">Selecione um objetivo</option>
        <% objetivo = ObjetivoDeReserva.find_all_by_status(ObjetivoDeReserva::ATIVO) %>
        <% objetivo.each do |obj| %>
          <% if obj.eh_obrigatorio? %>
            <option value="<%= obj.id %>" onclick="observacoesObrigatorio('obrigatorio')"><%= obj.texto %></option>
          <% else %>
            <option value="<%= obj.id %>" onclick="removeObservacoesObrigatorio('')"><%= obj.texto %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="item">
      <%= f.label :categoria_de_veiculo_id, "Veículo:", :class => :obrigatorio %>
      <%= f.select :categoria_de_veiculo_id,
                    CategoriaDeVeiculo.find_all_by_status(CategoriaDeVeiculo::ATIVO).collect {|categoria| [categoria.nome, categoria.id]},
                    {:include_blank => "Selecione uma categoria de veículo"} %>
    </div>


    <div class="item">
      <div class="item_info_label">
        <%= f.label :nome_telefone_passageiros, "Passageiros:", :class => :obrigatorio %>

        <div class="informacoes">
          <ul>
            <li>Nome completo;</li>
            <li>Telefone de contato.</li>
          </ul>
        </div>
      </div>

      <%= f.text_area :nome_telefone_passageiros, :rows => nil, :cols => nil,
        :placeholder => "Saci Pererê - (22) 2739-4178 \
                        Dona Benta - (22) 2739-5993" %>
    </div>

    <div class="item">
      <div class="item_info_label">
        <%= f.label :roteiro_da_agenda, "Roteiro:", :class => :obrigatorio %>

        <div class="informacoes">
          <ul>
            <li>Endereço;</li>
            <li>Cidade;</li>
            <li>Local de destino;</li>
            <li>Local que irá buscar passageiro (com referência);</li>
            <li>Data e horário previstos de saída e chegada do passageiro;</li>
            <li>Data e horário previstos de retorno do passageiro.</li>
          </ul>
        </div>
      </div>
      <%= f.text_area :roteiro_da_agenda, :rows => nil, :cols => nil %>
    </div>

    <div class="item">
      <div class="item_info_label">
        <%= f.label :observacao, "Observações:", :id => 'observacao_label' %>

        <div class="informacoes">
          <ul>
            <li>
              <strong>Buscar ou levar passageiro ao Aeroporto:</strong>
              informar o aeroporto, número do vôo, companhia aérea e horário de
              chegada do vôo.
            </li>
            <li>
              <strong>Participações em reuniões ou eventos:</strong>
              informar o horário de inicio e previsão de término do evento.
            </li>
            <li>
              <strong>Solicitações de microônibus:</strong>
              informar a lista de passageiros com nome completo, matrícula ou
              CPF. A lista deverá ser entregue à ASTRAN 1 dia antes da agenda.
            </li>
          </ul>
        </div>
      </div>
      <%= f.text_area :observacao, :rows => nil, :cols => nil %>
    </div>

    <div class="item">
      <div class="termo">
        <div class="box">
          <pre><%= configuracao.conteudo_termo %></pre>
        </div>
        <%= f.check_box :termo %>
        <%= f.label :termo, "Li e concordo com os termos", :class => :obrigatorio %>
      </div>
    </div>

  </fieldset>

  <p><%= f.submit 'Enviar requisição' %></p>

<% end %>

