<% configuracao = Configuracao.all.first %>

<% content_for :head do %>
  <title>Requisição de veículo: <%= configuracao.orgao_utilizador %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "new_requisicao.js" %>
  <%= calendar_date_select_includes "red", :locale => "pt"%>
  <%= javascript_include_tag "calendar_date_select/format_italian" %>
<% end %>

<h1>Requisição de veículo</h1>
<hr/>

<p>
  <em>Obs.: os campos com <span class='obrigatorio'>*</span> são obrigatórios</em>
<p>

<% form_for @requisicao do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Dados do solicitante</legend>

    <% fields_for @solicitante do |s|  %>

      <div class="item">
        <%= s.label :matricula, "<span class='obrigatorio'>*</span>Matrícula:" %>
        <%= s.text_field :matricula %>
        <em>(Colocar matrícula sem o dígito)</em>
      </div>

      <div class="item">
        <%= s.label :email, "<span class='obrigatorio'>*</span>E-mail:" %>
        <%= s.text_field :email %>
      </div>

    <% end %>

    <div class="item">
      <%= f.label :celular, "<span class='obrigatorio'>*</span>Celular:" %>
      <%= f.text_field :celular %>
    </div>

  </fieldset>

  <fieldset>
    <legend>Dados da reserva</legend>

    <div class="item">
      <%= f.label :data_de_reserva_br, "<span class='obrigatorio'>*</span>Data:" %>
      <%= calendar_date_select_tag "requisicao_data_de_reserva_br",
                                    @requisicao.data_de_reserva ? @requisicao.data_de_reserva.to_s_br : "",
                                    :name => "requisicao[data_de_reserva_br]",
                                    :year_range => [Time.now.year],
                                    :month_year => "label" %>
    </div>

    <div class="item">
      <%= f.label :objetivo_de_reserva_id,
                  "<span class='obrigatorio'>*</span>Objetivo:" %>
      <%= f.select :objetivo_de_reserva_id,
                    ObjetivoDeReserva.find_all_by_status(ObjetivoDeReserva::ATIVO).collect {|objetivo| [objetivo.texto, objetivo.id]},
                    {:include_blank => "Selecione um objetivo"},
                    :onchange => "verificarOutros()" %>
    </div>

    <div class="item">
      <%= f.label :outros, "<span class='obrigatorio'>*</span>Outros:",
                  :class => "invisivel",
                  :id => 'requisicao_outros_label' %>
      <%= f.text_field :outros, :class => "invisivel" %>
    </div>

    <div class="item">
      <%= f.label :categoria_de_veiculo_id, "<span class='obrigatorio'>*</span>Veículo:" %>
      <%= f.select :categoria_de_veiculo_id,
                    CategoriaDeVeiculo.find_all_by_status(CategoriaDeVeiculo::ATIVO).collect {|categoria| [categoria.nome, categoria.id]},
                    {:include_blank => "Selecione uma categoria de veículo"} %>
    </div>


    <div class="item">
      <div class="item_info_label">
        <%= f.label :nome_telefone_passageiros,
                    "<span class='obrigatorio'>*</span>Passageiros:" %>

        <div class="informacoes">
          <ul>
            <li>Nome completo;</li>
            <li>Telefone de contato.</li>
          </ul>
        </div>
      </div>

      <%= f.text_area :nome_telefone_passageiros, :rows => nil, :cols => nil,
        :placeholder => "Saci Pererê - (22) 2739-4178 \
                        Dona Benta - (22) 2739-5993" %>
    </div>

    <div class="item">
      <div class="item_info_label">
        <%= f.label :roteiro_da_agenda,
                    "<span class='obrigatorio'>*</span>Roteiro:" %>

        <div class="informacoes">
          <ul>
            <li>Endereço;</li>
            <li>Cidade;</li>
            <li>Local de destino;</li>
            <li>Local que irá buscar passageiro (com referência);</li>
            <li>Data e horário previstos de saída e chegada do passageiro;</li>
            <li>Data e horário previstos de retorno do passageiro.</li>
          </ul>
        </div>
      </div>
      <%= f.text_area :roteiro_da_agenda, :rows => nil, :cols => nil %>
    </div>

    <div class="item">
      <div class="item_info_label">
        <%= f.label :observacao, "Observações:" %>

        <div class="informacoes">
          <ul>
            <li>
              <strong>Buscar ou levar passageiro ao Aeroporto:</strong>
              informar o aeroporto, número do vôo, companhia aérea e horário de
              chegada do vôo.
            </li>
            <li>
              <strong>Participações em reuniões ou eventos:</strong>
              informar o horário de inicio e previsão de término do evento.
            </li>
            <li>
              <strong>Solicitações de microônibus:</strong>
              informar a lista de passageiros com nome completo, matrícula ou
              CPF. A lista deverá ser entregue à ASTRAN 1 dia antes da agenda.
            </li>
          </ul>
        </div>
      </div>
      <%= f.text_area :observacao, :rows => nil, :cols => nil %>
    </div>

    <div class="item">
      <div class="termo">
        <textarea readonly="readonly">REGRAS DA ASTRAN PARA UTILIZAÇÃO DE VEÍCULOS


  1.DOS VEÍCULOS:
    1.1.ÔNIBUS, MICRO-ÔNIBUS E VAN
      a) O limite máximo de afastamento dos ônibus do campus Leonel Brizola será de 800 km de raio e não serão permitidos afastamentos dos veículos em períodos superiores a 10 (dez) dias;
      b) Será cancelada a saída do veículo que estiver com menos da metade de sua capacidade total, ou seja, veículo com capacidade para 16 passageiros deverá ter no mínimo 8 passageiros.

  2.DO AGENDAMENTO:
    a) Os agendamentos de veículos deverão ser solicitados via formulário on-line na página da ASTRAN e poderão ser solicitados com mínimo de 2 (dois) dias úteis e máximo de 15 (quinze) dias. Exceto os ônibus, micro-ônibus e Van que poderão ser requisitados a qualquer tempo (dentro do corrente ano);
    b) Serão considerados os formulários que constar as seguintes informações:
      - Data, horário e local da saída e de retorno;
      - Responsável e destino da viagem;
      - Nome e Telefone dos passageiros. E nas reservas dos Ônibus, Micro-ônibus e Van, a listagem com nome, CPF e contato telefônico dos passageiros, em até 24 horas antes da partida;
    c) É responsabilidade do motorista decidir em quais locais será possível ter acesso com o veículo.
    d) É vedado ingresso e permanência no ônibus de passageiros trajando roupas de banho, sem camisa, estando molhado; bem como o transporte e/ou ingestão de bebidas alcoólicas ou fumar no interior do veículo;
    e) É responsabilidade de cada passageiro a conservação e guarda da bagagem pessoal;
    f) O trajeto a ser realizado será aquele definido na requisição. Qualquer alteração deverá ter autorização da chefia da ASTRAN;
    g) O cancelamento da agenda deverá ser notificado à ASTRAN via e-mail (agendas@uenf.br) com, no mínimo, 24 horas de antecedência;
    h) O responsável solicitante da reserva deverá arcar com as despesas inerentes a viagem, tais como: combustível, motoristas, entre outras;
    i) O passageiro ou motorista devem obedecer aos dispositivos disciplinares previstos no Decreto N° 41.952, de 16 de julho de 2009."
        </textarea>
        <%= f.check_box :termo %>
        <%= f.label :termo, "Li e concordo com os termos<span class='obrigatorio'>*</span>" %>
      </div>
    </div>

  </fieldset>

  <p><%= f.submit 'Enviar requisição' %></p>

<% end %>

