<div class="show_padrao">
  <div class="formularios_embutidos">
    <% form_tag("/rejeitar_requisicao") do -%>
      <%= hidden_field_tag "requisicao", "#{@requisicao.id}" %>
      <fieldset>
        <legend>Rejeitar requisição</legend>
        <p>
          Para rejeitar a requisição, selecione o motivo abaixo.
          Caso o motivo que você deseja não esteja na lista abaixo,
          <%= link_to "adicione", new_motivo_path %> outro motivo.
        </p>
        <p>
        <label for="motivo_rejeicao">Motivo:</label>
        <select name="motivo" id="motivo_rejeicao">
          <%= options_from_collection_for_select(@motivos, 'id', 'descricao') %>
        </select>
        </p>
        <p>
          <%= label_tag "corpo_email", "Corpo do E-mail:" %>
          <%= text_area_tag "corpo_email" %>
        </p>
        <p>
          <%= label_tag "destinatarios", "Destinatários:" %>
          <%= text_field_tag "destinatarios" %> (Separar com ponto e vírgula)
        </p>
        <p>
          <%= submit_tag "Rejeitar requisição", :confirm => "Deseja realmente rejeitar essa requisição?" %>
        <p>
      </fieldset>
    <% end -%>
  </div>

  <!-- ===================================================================== -->

  <%= render :file => 'solicitantes/_show' %>

  <%= render 'show' %>

</div>

<!-- ======================================================================= -->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor='pointer'">Voltar</li>
  </ul>
  <div class="pular_linha"></li>
</div>

</div>

