<div class="show_padrao">

    <h1>Dados do solicitante</h1>


    <div class="show_linha">
      <div class="linha_titulo"> Matricula: </div> <div class="linha_texto"> <%=h @solicitante.matricula %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Nome do solicitante: </div> <div class="linha_texto"> <%=h @solicitante.nome %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Email: </div> <div class="linha_texto"> <%=h @solicitante.email %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Cargo: </div> <div class="linha_texto"> <%=h @solicitante.cargo %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Telefone ou ramal: </div> <div class="linha_texto"> <%=h @solicitante.telefone_ou_ramal %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Celular: </div> <div class="linha_texto"> <%=h @requisicao.celular %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Lab. ou setor: </div> <div class="linha_texto"> <%=h @solicitante.laboratorio_ou_setor %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Centro: </div> <div class="linha_texto"> <%=h Centro.find(@solicitante.centro_id).nome %> </div>
    </div>

    <h1>Dados da reserva</h1>

    <div class="show_linha">
      <div class="linha_titulo"> Data de reserva: </div> <div class="linha_texto"> <%=h @requisicao.data_de_reserva.strftime("%d/%m/%Y")%> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Categoria de ve&iacute;culo: </div> <div class="linha_texto"> <%=h CategoriaDeVeiculo.find(@requisicao.categoria_de_veiculo_id).nome %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Objetivo da reserva: </div> <div class="linha_texto"> <%=h ObjetivoDeReserva.find(@requisicao.objetivo_de_reserva_id).texto %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Outros: </div> <div class="linha_texto"> <%=h @requisicao.outros %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Passageiros: </div> <div class="linha_texto"> <%=h @requisicao.nome_telefone_passageiros %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Roteiro da agenda (ida): </div> <div class="linha_texto"> <%=h @requisicao.roteiro_da_agenda %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Observacao: </div> <div class="linha_texto"> <%=h @requisicao.observacao %> </div>
    </div>

    <div class="show_linha">
      <div class="linha_titulo"> Estado: </div> <div class="linha_texto"> <%=h @requisicao.estado.to_s %> </div>
    </div>

    <% if !@requisicao.motivo_id.nil? %>
      <div class="show_linha">
        <div class="linha_titulo"> Motivo informado pelo Sistema: </div>
        <div class="linha_texto"> <%=h Motivo.find(@requisicao.motivo_id).descricao %> </div>
      </div>
    <% end %>

    <% if !@requisicao.motivo_observacao.nil? %>
      <div class="show_linha">
        <div class="linha_titulo">Observa&ccedil;&otilde;es do motivo: </div>
        <div class="linha_texto"> <%=h @requisicao.motivo_observacao %> </div>
      </div>
    <% end %>

    <% if !@requisicao.motivo_professor.nil? %>
      <div class="show_linha">
        <div class="linha_titulo"> Motivo informado pelo Professor: </div>
        <div class="linha_texto"> <%=h @requisicao.motivo_professor.to_s %> </div>
      </div>
    <% end %>

</div>

<!-- ======================================================================= -->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_imprimir" onclick="window.print()" onmouseover="this.style.cursor = 'pointer'"><a href="javaScript:window.print()">Imprimir</a></li>

    <!-- <li id="opcao_aceitar"><%= link_to 'Aceitar', :controller => 'requisicoes', :action => 'aceitar', :id => @requisicao %></li>
    <li id="opcao_rejeitar"><%= link_to 'Rejeitar'%></li>
    <li id="opcao_cancelar"><%= link_to 'Cancelar' %></li> -->

    <% if requisicao_pode_ser_aceita(@requisicao.estado) %>
      <li id="opcao_aceitar" onclick="location.href='<%= aceitar_viagem_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Aceitar', aceitar_viagem_path(@requisicao) %>
      </li>
    <% end %>

    <% if requisicao_pode_ser_cancelada(@requisicao.estado) %>
      <li id="opcao_cancelar" onclick="location.href='<%= cancelar_requisicao_pelo_sistema_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to "Cancelar requisi&ccedil;&atilde;o", cancelar_requisicao_pelo_sistema_path(@requisicao) %></li>
    <% end %>

    <% if requisicao_pode_ser_rejeitada(@requisicao.estado) %>
      <li id="opcao_rejeitar" onclick="location.href='<%= rejeitar_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Rejeitar', rejeitar_path(@requisicao) %>
      </li>
    <% end %>

  </ul>
  <div class="pular_linha"></li>
</div>

