<div class="show_padrao">

  <%= render :file => 'solicitantes/_show' %>

  <% if not @requisicao.celular.blank? %>
    <p>
      <label>Celular:</label>
      <span><%= @requisicao.celular %></span>
    </p>
  <% end %>

  <%= render 'show' %>

</div>

<!-- ======================================================================= -->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_imprimir" onclick="window.print()" onmouseover="this.style.cursor = 'pointer'"><a href="javaScript:window.print()">Imprimir</a></li>

    <% if requisicao_pode_ser_aceita(@requisicao.estado) %>
      <li id="opcao_aceitar" onclick="location.href='<%= aceitar_viagem_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Aceitar', aceitar_viagem_path(@requisicao) %>
      </li>
    <% end %>

    <% if requisicao_pode_ser_cancelada(@requisicao.estado) %>
      <li id="opcao_cancelar" onclick="location.href='<%= cancelar_requisicao_pelo_sistema_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to "Cancelar requisição", cancelar_requisicao_pelo_sistema_path(@requisicao) %></li>
    <% end %>

    <% if requisicao_pode_ser_rejeitada(@requisicao.estado) %>
      <li id="opcao_rejeitar" onclick="location.href='<%= rejeitar_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Rejeitar', rejeitar_path(@requisicao) %>
      </li>
    <% end %>

    <% if @requisicao.pode_alterar_viagem? %>
      <li id="opcao_alterar" onclick="location.href='<%= aceitar_path(@requisicao) %>'" onmouseover="this.style.cursor = 'pointer'">
        <%= link_to 'Alterar viagem', aceitar_path(@requisicao) %>
      </li>
    <% end %>
  </ul>
</div>

