<div class="show_padrao">

<h1>Novo Prefixo</h1>

<% form_for(@prefixo) do |f| %>
  <%= mensagem_de_erro(@prefixo) %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :nome, "Nome:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :estado, "Estado:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.select :estado, { Prefixo::ATIVO => Prefixo::ATIVO,
                                                                  Prefixo::INATIVO => Prefixo::INATIVO } %></div>
  </div>

  <div class="botao_concluir"><%= f.submit 'Criar Prefixo' %></div>

<% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor='pointer'">Voltar</li>
  </ul>
</div>

