<% solicitante = Solicitante.find(@requisicao.solicitante_id) %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      .email {
        font-family: Verdana;
        font-size: 12px
      }
    </style>
  </head>
  <body class="email">
    <p>
      <%= saudacao %> Sr(a) <%= solicitante.nome %>,
    </p>
    <p>
      <%= @corpo_do_email %>
    </p>
    <% if not @requisicao.motivo_id.nil? %>
      <p>
      <strong>Motivo:</strong> <%= Motivo.find(@requisicao.motivo_id).descricao %>
      </p>
    <% end %>

    <% if @requisicao.motivo_professor %>
      <p>
        <strong>Motivo:</strong> <%= @requisicao.motivo_professor %>
      </p>
    <% end %>
    <p>
    <p>
      Caso queira visualizar os dados de sua requisição, clique no link abaixo:
      <br/>
      <a href="<%= endereco %><%= visualizar_requisicao_path(:id => @requisicao.id, :chave_de_seguranca => @requisicao.chave_de_seguranca) %>">
        Ver detalhes de sua requisição.
      </a>
    </p>
      <div style="color: #a2a2a2">
        <%= @configuracoes.nome_do_setor if @configuracoes.nome_do_setor  %>/
        <%= @configuracoes.instituicao if @configuracoes.instituicao  %><br />
        Telefone(s): <%= @configuracoes.telefones if @configuracoes.telefones %>
      </div>
    </p>
  </body>
</html>

