<div id="tabela_exibir">
  <div class="index_relatorios">
    <ul>
      <li>
        Km percorridos:
      </li>
        <ul>
          <li>
            <%= link_to "total", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por centro", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por laboratótio", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por solicitante", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por veículo", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por motorista", relatorios_km_percorridos_path %>
          </li>
        </ul>
      <li>
        Status das requisições:
      </li>
        <ul>
          <li>
            <%= link_to "todas", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por centro", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por laboratótio", relatorios_km_percorridos_path %>
          </li>
          <li>
            <%= link_to "por solicitante", relatorios_km_percorridos_path %>
          </li>
        </ul>
      <li>
        <%= link_to "Horas trabalhadas por motorista", relatorios_path %>
      </li>
    </ul>
  </div>
</div>

