<div id="tabela_exibir">
  <h1>Km percorridos</h1>

  <% form_for @relatorio, :url => {:action => 'show_km_percorridos'} do |f| %>
    <%= mensagem_de_erro(@relatorio) %>
    <p>
      <%= f.label :data_inicial, "Data inicial" %>
      <%= f.date_select :data_inicial %>
    </p>

    <p>
      <%= f.label :data_final, "Data final" %>
      <%= f.date_select :data_final %>
    </p>

    <%= f.submit 'Gerar relatório' %>
  <% end %>
</div>

