<% if current_user.has_role? :admin %>
  <a href="/veiculos/new" class="link_botao">Adicionar Veiculo</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Cor</th>
    <th>Ano</th>
    <th>Placa</th>
    <th>N&#186; de ordem</th>
    <th>Renavam</th>
    <th>Categoria</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @veiculos.each do |veiculo| %>
  <tr >
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.marca %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.modelo %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.cor %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.ano %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.placa %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.numero_de_ordem %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%=h veiculo.renavam %></td>
    <td onclick="location.href='<%= veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'">
      <% if veiculo.categoria_de_veiculo_id %>
        <%=h CategoriaDeVeiculo.find(veiculo.categoria_de_veiculo_id).nome %>
      <% else %>
        -
      <% end %>
    </td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_veiculo_path(veiculo) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_veiculo_path(veiculo) %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

