<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/veiculos/new" class="link_new">Adicionar Veiculo</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Cor</th>
    <th>Ano</th>
    <th>Placa</th>
    <th>N&#186; de ordem</th>
    <th>Renavam</th>
    <th>Categoria</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @veiculos.each do |veiculo| %>
  <tr>
    <%= td_status veiculo %>
    <%= td_clickable veiculo_path(veiculo), veiculo.marca %>
    <%= td_clickable veiculo_path(veiculo), veiculo.modelo %>
    <%= td_clickable veiculo_path(veiculo), veiculo.cor %>
    <%= td_clickable veiculo_path(veiculo), veiculo.ano %>
    <%= td_clickable veiculo_path(veiculo), veiculo.placa %>
    <%= td_clickable veiculo_path(veiculo), veiculo.numero_de_ordem %>
    <%= td_clickable veiculo_path(veiculo), veiculo.renavam %>
    <%= td_clickable veiculo_path(veiculo), veiculo.categoria_de_veiculo.nome %>

    <% if admin %>
      <%= td_clickable edit_veiculo_path(veiculo),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>

  </tr>
<% end %>
</table>

