<div class="show_padrao">

<h1>Novo Veículo</h1>

<% form_for(@veiculo) do |f| %>
  <%= mensagem_de_erro(@veiculo) %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :marca, "Marca:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :marca %></div>
  </div>
  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :modelo, "Modelo:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :modelo %></div>
  </div>
  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :cor, "Cor:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :cor %></div>
  </div>
  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :ano, "Ano:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :ano %></div>
  </div>

<div class="show_linha">
  <div class="linha_titulo"><label for="categoria_de_veiculo_id">Categoria:</label></div>
  <div class="linha_texto_neutro"><%= collection_select :categoria_de_veiculo, :id, CategoriaDeVeiculo.all, :id,
                        :nome, {:include_blank => "Selecione uma categoria"},
                        :name => "veiculo[categoria_de_veiculo_id]"%></div>
</div>
  <div class="show_linha">
    <div class="linha_titulo">Combustíveis:</div>
    <div class="linha_texto_neutro">
      <% Combustivel.all.each do |combustivel| %>
        <%= check_box_tag "veiculo[combustivel_ids][]", combustivel.id,
            @veiculo.combustiveis.include?(combustivel), :id => combustivel.nome %>
        <%= label_tag combustivel.nome %><br />
      <% end %>
    </div>
  </div>
  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :placa, "Placa:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :placa %></div>
</div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :numero_de_ordem, "Número de ordem:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :numero_de_ordem %></div>
</div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :renavam, "Renavam:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :renavam %></div>
</div>

    <div class="botao_concluir"><%= f.submit 'Criar Veículo' %></div>

<% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="location.href='<%= veiculos_path %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Voltar', veiculos_path %></li>
  </ul>
</div>

