<div class="show_padrao">

  <h1>Dados do ve&iacute;culo</h1>

  <p>
    <label>Marca:</label>
    <span><%=h @veiculo.marca %></span>
  </p>

  <p>
    <label>Modelo:</label>
    <span><%=h @veiculo.modelo %></span>
  </p>

  <p>
    <label>Cor:</label>
    <span><%=h @veiculo.cor %></span>
  </p>

  <p>
    <label>Ano:</label>
    <span><%=h @veiculo.ano %></span>
  </p>

  <p>
    <label>Placa:</label>
    <span><%=h @veiculo.placa %></span>
  </p>

  <p>
    <label>Número de ordem:</label>
    <span><%=h @veiculo.numero_de_ordem %></span>
  </p>

  <p>
    <label>Renavam:</label>
    <span><%=h @veiculo.renavam %></span>
  </p>

  <p>
    <label>Prefixo:</label>
    <span><%=h @veiculo.prefixo.nome if @veiculo.prefixo %></span>
  </p>

  <p>
    <label>Combust&iacute;vel(is):</label>
    <span>
    <% @veiculo.combustiveis.each do |combustivel| %>
      <%= combustivel.nome %><br />
    <% end %>
    </span>
  </p>

  <p>
    <label>Categoria:</label>
    <span><%=h @veiculo.categoria_de_veiculo.nome if @veiculo.categoria_de_veiculo %></span>
  </p>

  <p>
    <label>Status:</label>
    <span><%=h @veiculo.status %></span>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_veiculo_path(@veiculo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_veiculo_path(@veiculo) %></li>
  </ul>
</div>

