<div class="show_padrao">

  <h1>Dados do Ve&iacute;culo</h1>

  <div class="show_linha">
    <div class="linha_titulo">Marca:</div>
    <div class="linha_texto"><%=h @veiculo.marca %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Modelo:</div>
    <div class="linha_texto"><%=h @veiculo.modelo %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Cor:</div>
    <div class="linha_texto"><%=h @veiculo.cor %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Ano:</div>
    <div class="linha_texto"><%=h @veiculo.ano %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Placa:</div>
    <div class="linha_texto"><%=h @veiculo.placa %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Numero de ordem:</div>
    <div class="linha_texto"><%=h @veiculo.numero_de_ordem %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Renavam:</div>
    <div class="linha_texto"><%=h @veiculo.renavam %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Combust&iacute;vel(is):</div>
    <div class="linha_texto">
    <% @veiculo.combustiveis.each do |combustivel| %>
      <%= combustivel.nome %><br />
    <% end %>
    </div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Categoria:</div>
    <div class="linha_texto"><%=h CategoriaDeVeiculo.find(@veiculo.categoria_de_veiculo_id).nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Estado:</div>
    <div class="linha_texto"><%=h @veiculo.estado %></div>
  </div>
  
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_veiculo_path(@veiculo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_veiculo_path(@veiculo) %></li>
  </ul>
</div>

