<% if current_user.has_role? :admin %>
  <a href="/predios/new" class="link_botao">Adicionar Prédio</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @predios.each do |predio| %>
  <tr>
    <td onclick="location.href='<%= predio_path(predio) %>'" onmouseover="this.style.cursor='pointer'"><%=h predio.nome %></td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_predio_path(predio) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_predio_path(predio) %></td>
      <td onclick="" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("deletar_dado.png", :border => 0, :alt => "Deletar"), predio, :confirm => 'Tem certeza que deseja apagar?', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

