<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/cidades/new" class="link_new">Adicionar Cidade</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Nome</th>
    <th>Estado</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @cidades.each do |cidade| %>
  <tr>
    <%= td_status cidade %>
    <%= td_clickable cidade_path(cidade), cidade.nome %>
    <%= td_clickable cidade_path(cidade), Estado.find(cidade.estado_id).sigla %>
    <% if admin %>
      <%= td_clickable edit_cidade_path(cidade),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @cidades, :previous_label => "<< Anterior",
                            :next_label => "Próximo >>" %>

