<div class="show_padrao">

  <h1>Dados da cidade</h1>

  <p>
    <label>Nome:</label>
    <spam><%=h @cidade.nome %></spam>
  </p>

  <p>
    <label>Estado:</label>
    <spam><%=h Estado.find(@cidade.estado_id).sigla %></spam>
  </p>

  <p>
    <label>Status:</label>
    <spam><%=h @cidade.status %></spam>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_cidade_path(@cidade) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_cidade_path(@cidade) %></li>
  </ul>
</div>

