<div class="show_padrao">

  <h1>Dados da Cidade</h1>

  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @cidade.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Estado:</div>
    <div class="linha_texto"><%=h Estado.find(@cidade.estado_id).sigla %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Status:</div>
    <div class="linha_texto"><%=h @cidade.status %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_cidade_path(@cidade) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_cidade_path(@cidade) %></li>
  </ul>
</div>

