<%= javascript_include_tag :defaults %>
<%= calendar_date_select_includes "silver", :locale => "pt"%>
<%= javascript_include_tag "calendar_date_select/format_italian" %>

<div class="show_padrao">

  <h1>Editar BDT</h1>

  <% form_for(@bdt) do |f| %>
    <%= mensagem_de_erro(@bdt) %>
    <%= hidden_field_tag 'viagem_id', @viagem.id %>

    <p>
      <%= f.label :numero, "Número físico", :class => "label_obrigatorio" %>
      <%= f.text_field :numero, :class => "campo_de_poucos_digitos" %>
    </p>

    <p>
      <%= label_tag :veiculo_id, "Veículo", :class => "label_obrigatorio" %>
      <%= collection_select :veiculo, :id, Veiculo.all, :id,
                            :formatacao_para_bdt,
                            {:prompt => "Selecione um veículo"} %>
    </p>

    <p>
      <%= label_tag :motorista_id, "Condutores", :class => "label_obrigatorio" %>
      <select name="motorista[id][]" multiple="multiple" size="5" id="motorista_id">
        <% Motorista.all.each do |m| %>
          <% if @viagem.motorista_ids.include? m.id %>
            <option selected="selected" value="<%= m.id %>"><%= m.nome %></option>
          <% else %>
            <option value="<%= m.id %>"><%= m.nome %></option>
          <% end %>
        <% end %>
      </select>
    </p>

    <fieldset>
      <legend>Partida:</legend>
      <p>
        <%= f.label :data_partida, "Data", :class => "label_obrigatorio" %>
        <%= calendar_date_select_tag "bdt_data_partida",
                              @bdt.data_partida.to_s_br,
                              :name => "bdt[data_partida]",
                              :month_year => "label",
                              :class => "campo_de_poucos_digitos"%>
      </p>

      <p>
        <%= f.label :horario_partida, "Horário", :class => "label_obrigatorio" %>
        <%= time_select 'bdt', 'horario_partida',
                        {:prompt => @bdt_horario_partida,
                         :ignore_date => true} %>
      </p>

      <p>
        <%= f.label :odometro_partida, "Odômetro", :class => "label_obrigatorio" %>
        <%= f.text_field :odometro_partida, :class => "campo_de_poucos_digitos" %>
      </p>
    </fieldset>

    <fieldset>
      <legend>Recolhimento:</legend>

      <p>
        <%= f.label :data_recolhimento, "Data", :class => "label_obrigatorio" %>
        <%= calendar_date_select_tag "bdt_data_recolhimento",
                            @bdt.data_recolhimento.to_s_br,
                            :name => "bdt[data_recolhimento]",
                            :month_year => "label",
                            :class => "campo_de_poucos_digitos"%>
      </p>

      <p>
        <%= f.label :horario_recolhimento, "Horário", :class => "label_obrigatorio" %>
        <%= time_select 'bdt', 'horario_recolhimento',
                        {:prompt => @bdt_horario_recolhimento,
                         :ignore_date => true} %>
      </p>

      <p>
        <%= f.label :odometro_recolhimento, "Odômetro", :class => "label_obrigatorio" %>
        <%= f.text_field :odometro_recolhimento, :class => "campo_de_poucos_digitos" %>
      </p>

    </fieldset>

    <% @requisicoes_ids.each do |@id| %>
      <fieldset>
        <legend>Requisicao <%= @id %></legend>

          <p>
            <label>Origem</label>
            <%= collection_select :estado_origem, @id, Estado.all, :id, :sigla,
                                  {:prompt => "-", :selected => estado_local_origem } %>

            <apenas_para_javascript id="origem_req_<%=@id%>">
              <%= collection_select :cidade_origem, @id, cidades_origem, :id, :nome,
                                    {:prompt => "-", :selected => cidade_local_origem} %>
            </apenas_para_javascript>
          </p>

          <%= observe_field "estado_origem_#{@id}",
                            :update => "origem_req_#{@id}",
                            :url => {:action => :carregar_cidades_origem},
                            :with => "'estado_id='+value + '&requisicao_id='+#{@id}",
                            :frequency => 0.1 %>


        <p>
          <label>Destino</label>
          <%= collection_select :estado_destino, @id, Estado.all, :id, :sigla,
                                {:prompt => "-", :selected => estado_local_destino } %>

          <apenas_para_javascript id="destino_req_<%=@id%>">
            <%= collection_select :cidade_destino, @id, cidades_destino, :id, :nome,
                                  {:prompt => "-", :selected => cidade_local_destino } %>
          </apenas_para_javascript>
        </p>

        <%= observe_field "estado_destino_#{@id}",
                          :update => "destino_req_#{@id}",
                          :url => {:action => :carregar_cidades_destino},
                          :with => "'estado_id='+value + '&requisicao_id='+#{@id}",
                          :frequency => 0.1 %>

      </fieldset>
    <% end %>


    <p>
      <%= f.label :objetivo, "Objetivo" %>
      <%= f.text_area :objetivo %>
    </p>

    <%= f.submit 'Salvar' %>
  <% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
  </ul>
</div>

