<div id="tabela_exibir">

  <table class="tabela_padrao">

    <tr>
      <th>Número no sistema</th>
      <th>Número físico</th>
      <th>Distância percorrida</th>
      <th>Requisições atendidas</th>
    </tr>

    <% @bdts.each do |bdt| %>

      <% viagem = Viagem.find(bdt.viagem_id) %>

      <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= bdt_path(bdt) %>'">
        <td><%=h bdt.id %></td>
        <td><%=h bdt.numero %></td>
        <td><%=h bdt.distancia_percorrida %> Km</td>
        <td><%=h viagem.requisicoes_atendidas.to_sentence %></td>
        <td onclick="location.href='<%= edit_bdt_path(bdt) %>'" onmouseover="this.style.cursor='pointer'">
          <%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_bdt_path(bdt) %>
        </td>
      </tr>

    <% end %>

  </table>

</div>

