<div class="show_padrao">

  <h1>Dados do BDT</h1>

  <div class="show_linha">
    <div class="linha_titulo">Número no sistema:</div>
    <div class="linha_texto"><%=h @bdt.id %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Número físico:</div>
    <div class="linha_texto"><%=h @bdt.numero %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Veículo:</div>
    <div class="linha_texto"><%=h @veiculo.modelo + ' - ' + @veiculo.placa %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Condutor:</div>
    <div class="linha_texto"><%=h @motorista.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Data de partida:</div>
    <div class="linha_texto"><%=h @bdt.data_partida.to_s_br %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Horário de partida:</div>
    <div class="linha_texto"><%=h @bdt.horario_partida.to_s_br.split[1] %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Odômetro na partida:</div>
    <div class="linha_texto"><%=h @bdt.odometro_partida %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Data de reco.:</div>
    <div class="linha_texto"><%=h @bdt.data_recolhimento.to_s_br %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Horário de reco.:</div>
    <div class="linha_texto"><%=h @bdt.horario_recolhimento.to_s_br.split[1]%></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Odômetro no reco.:</div>
    <div class="linha_texto"><%=h @bdt.odometro_recolhimento %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Local origem:</div>
    <div class="linha_texto"><%=h @bdt.local_origem %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Local destino:</div>
    <div class="linha_texto"><%=h @bdt.local_destino %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Objetivo:</div>
    <div class="linha_texto"><%=h @bdt.objetivo %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_bdt_path(@bdt) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_bdt_path(@bdt) %></li>
  </ul>
</div>

