<div class="show_padrao">

  <h1>Dados do BDT</h1>

  <p>
    <label>Número no sistema:</label>
    <span><%=h @bdt.id %></span>
  </p>

  <p>
    <label>Número físico:</label>
    <span><%=h @bdt.numero %></span>
  </p>

  <p>
    <label>Veículo:</label>
    <span><%=h @veiculo.modelo + ' - ' + @veiculo.placa %></span>
  </p>

  <p>
    <label>Condutores:</label>
    <span><%=h @viagem.motoristas.collect(&:nome).to_sentence if @viagem.motoristas %></span>
  </p>

  <p>
    <label>Data de partida:</label>
    <span><%=h @bdt.data_partida.to_s_br %></span>
  </p>

  <p>
    <label>Horário de partida:</label>
    <span><%=h @bdt.horario_partida.to_s_br.split[1] %></span>
  </p>

  <p>
    <label>Odômetro na partida:</label>
    <span><%=h @bdt.odometro_partida %></span>
  </p>

  <p>
    <label>Data de reco.:</label>
    <span><%=h @bdt.data_recolhimento.to_s_br %></span>
  </p>

  <p>
    <label>Horário de reco.:</label>
    <span><%=h @bdt.horario_recolhimento.to_s_br.split[1]%></span>
  </p>

  <p>
    <label>Odômetro no reco.:</label>
    <span><%=h @bdt.odometro_recolhimento %></span>
  </p>

  <% @requisicoes_ids.each do |id| %>
    <% requisicao = Requisicao.find(id) %>
    <% cidade_origem = requisicao.local_origem ? Cidade.find(requisicao.local_origem).nome : "" %>
    <% cidade_destino = requisicao.local_destino ? Cidade.find(requisicao.local_destino).nome : "" %>

    <p>
      <label>Requisição <%= id %>:</label>
      <span><%= cidade_origem %> - <%= cidade_destino %></span>
    </p>
  <% end %>

  <p>
    <label>Objetivo:</label>
    <span><%=h @bdt.objetivo %></span>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_bdt_path(@bdt) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_bdt_path(@bdt) %></li>
  </ul>
</div>

