<fieldset>
  <legend>Partida:</legend>
  <p>
    <b>Data:</b>
    <%=h @bdt.data_partida %>
  </p>
  <p>
    <b>Horário:</b>
    <%=h @bdt.horario_partida %>
  </p>
  <p>
    <b>Odômetro:</b>
    <%=h @bdt.odometro_partida %>
  </p>
</fieldset>

<fieldset>
  <legend>Recolhimento:</legend>
  <p>
    <b>Data:</b>
    <%=h @bdt.data_recolhimento %>
  </p>
  <p>
    <b>Horário:</b>
    <%=h @bdt.horario_recolhimento %>
  </p>
  <p>
    <b>Odômetro:</b>
    <%=h @bdt.odometro_recolhimento %>
  </p>
</fieldset>

