<div class="show_padrao">
  <h1>Editar Motorista</h1>

  <% form_for(@motorista) do |f| %>
    <%= mensagem_de_erro(@motorista) %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :matricula, "Matr&iacute;cula:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :matricula %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :nome_do_motorista, "Nome:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :nome_do_motorista %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :telefone_do_motorista, "Telefone:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :telefone_do_motorista %></div>
  </div>


    <div class="botao_concluir"><%= f.submit 'Atualizar' %></div>

  <% end %>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
  </ul>
</div>

