<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/motoristas/new" class="link_new">Adicionar Motorista</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Matrícula</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @motoristas.each do |motorista| %>
  <tr>
    <%= td_status motorista %>
    <%= td_clickable motorista_path(motorista), motorista.matricula %>
    <%= td_clickable motorista_path(motorista), motorista.nome %>
    <%= td_clickable motorista_path(motorista), motorista.telefone %>
    <% if admin  %>
      <%= td_clickable edit_motorista_path(motorista),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

