<div class="show_padrao">

  <h1>Dados do motorista</h1>

  <p>
    <label>Matr&iacute;cula:</label>
    <spam><%=h @motorista.matricula %></spam>
  </p>

  <p>
    <label>Nome do Motorista:</label>
    <spam><%=h @motorista.nome %></spam>
  </p>

  <p>
    <label>Telefone:</label>
    <spam><%=h @motorista.telefone %></spam>
  </p>

  <p>
    <label>Habilitação:</label>
    <spam><%=h @motorista.habilitacao %></spam>
  </p>

  <p>
    <label>Vencimento da habilitação:</label>
    <spam><%=h @motorista.vencimento_habilitacao.strftime("%d/%m/%Y") if @motorista.vencimento_habilitacao %></spam>
  </p>

  <p>
    <label>Status:</label>
    <spam><%=h @motorista.status %></spam>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_motorista_path(@motorista) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_motorista_path(@motorista) %></li>
  </ul>
</div>

