<div class="show_padrao">

  <h1>Dados do Motorista</h1>

  <div class="show_linha">
    <div class="linha_titulo">Matr&iacute;cula:</div>
    <div class="linha_texto"><%=h @motorista.matricula %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Nome do Motorista:</div>
    <div class="linha_texto"><%=h @motorista.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Telefone:</div>
    <div class="linha_texto"><%=h @motorista.telefone %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Habilitação:</div>
    <div class="linha_texto"><%=h @motorista.habilitacao %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Vencimento da habilitação:</div>
    <div class="linha_texto"><%=h @motorista.vencimento_habilitacao.strftime("%d/%m/%Y") if @motorista.vencimento_habilitacao %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_motorista_path(@motorista) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_motorista_path(@motorista) %></li>
    <li id="opcao_excluir" onclick="if (confirm('Tem certeza que deseja apagar?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '/motoristas/<%= @motorista.id %>';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', '<%= form_authenticity_token %>'); f.appendChild(s);f.submit(); };return false;" onmouseover="this.style.cursor = 'pointer'">
      Excluir
    </li>
  </ul>
</div>

