<h1>Requisições atendidas</h1>
<div id="tabela_exibir">

  <table id="requisicoes" class="tabela_padrao">
    <thead>
      <tr>
        <th>Estado</th>
        <th>Protocolo</th>
        <th>Solicitante</th>
        <th>Cargo</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Data</th>
        <th>Veículo</th>
        <th>Objetivo</th>
        <th>Tipo</th>
        <th>Referência</th>
      </tr>
    </thead>

    <tbody>
      <% @viagem.requisicoes_atendidas.each do |r_id| %>
        <% requisicao = Requisicao.find(r_id)%>
        <% solicitante = Solicitante.find(requisicao.solicitante_id) %>

        <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(requisicao) %>'">
          <td class="<%=h traduz_class_css(requisicao.estado) %>"><%=h requisicao.estado[0,10] %></td>
          <td><%=h requisicao.id %></td>
          <td><%=h solicitante.nome %></td>
          <td><%=h solicitante.cargo %></td>
          <td><%=h solicitante.email %></td>
          <td><%=h solicitante.telefone_ou_ramal %></td>
          <td><%=h requisicao.data_de_reserva.strftime("%d/%m/%Y") if requisicao.data_de_reserva %></td>
          <td><%=h CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %></td>
          <td><%=h ObjetivoDeReserva.find(requisicao.objetivo_de_reserva_id).texto %></td>
          <td><%=h requisicao.tipo ? requisicao.tipo : "-" %></td>
          <td><%=h requisicao.referencia_id ? requisicao.referencia_id : "-" %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>

