<div class="show_padrao">
  <div class="formularios_embutidos">
    <% form_tag("/viagens/cancelamento_da_viagem") do -%>
      <fieldset>
        <legend>Cancelar viagem</legend>
        <%= label_tag "viagem_motivo_id", "Motivo do cancelamento:" %>
        <%= collection_select("viagem", :motivo_id, Motivo.all, :id, :descricao) %><br />
        <%= hidden_field_tag "viagem_id", "#{@viagem.id}" %>
        <%= submit_tag "Cancelar viagem", { :confirm => "Deseja cancelar a viagem?"} %>
      </fieldset>
    <% end -%>
  </div>



<!-- ======================================================================= -->


  <h1>Dados gerais</h1>

  <p>
    <label>Data de saída:</label>
    <span>
      <%=h @viagem.data_partida.strftime("%d/%m/%Y") if @viagem.data_partida %>
    </span>
  </p>


  <p>
    <label>Data de chegada:</label>
    <span>
      <%=h @viagem.data_chegada.strftime("%d/%m/%Y") if @viagem.data_chegada %>
    </span>
  </p>


  <p>
    <label>Horário de partida:</label>
    <span>
      <%=h @viagem.horario_partida.strftime("%H:%M") if @viagem.horario_partida %>
    </span>
  </p>


  <p>
    <label>Motoristas:</label>
    <span>
      <%=h @viagem.motoristas.collect(&:nome).to_sentence if @viagem.motoristas %>
    </span>
  </p>

  <p>
    <label>Veículo:</label>
    <span>
      <%=h CategoriaDeVeiculo.find(@veiculo.categoria_de_veiculo_id).nome +
        " - " + @veiculo.modelo + " - " + @veiculo.placa if not @veiculo.nil?%>
    </span>
  </p>

  <p>
    <label>Estado:</label>
    <span><%=h @viagem.estado %></span>
  </p>

  <h1>Requisições atendidas</h1>
    <div id="tabela_exibir">

      <table id="requisicoes" class="tabela_padrao">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Protocolo</th>
            <th>Solicitante</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data</th>
            <th>Veículo</th>
            <th>Objetivo</th>
            <th>Tipo</th>
            <th>Referência</th>
          </tr>
        </thead>

        <tbody>
          <% @viagem.requisicoes_atendidas.each do |r_id| %>
            <% requisicao = Requisicao.find(r_id)%>
            <% solicitante = Solicitante.find(requisicao.solicitante_id) %>

            <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(requisicao) %>'">
              <td class="<%=h traduz_class_css(requisicao.estado) %>"><%=h requisicao.estado[0,9] %></td>
              <td><%=h requisicao.id %></td>
              <td><%=h solicitante.nome %></td>
              <td><%=h solicitante.cargo %></td>
              <td><%=h solicitante.email %></td>
              <td><%=h solicitante.telefone_ou_ramal %></td>
              <td><%=h requisicao.data_de_reserva.strftime("%d/%m/%Y") %></td>
              <td><%=h CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %></td>
              <td><%=h ObjetivoDeReserva.find(requisicao.objetivo_de_reserva_id).texto %></td>
              <td><%=h requisicao.tipo ? requisicao.tipo : "-" %></td>
              <td><%=h requisicao.referencia_id ? requisicao.referencia_id : "-" %></td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
</div>
<!-- ======================================================================= -->

