
<!-- ======================================================================= -->


<div class="show_padrao">

  <h1>Dados gerais</h1>

  <p>
    <label>Data de saída:</label>
    <span>
      <%=h @viagem.data_partida.strftime("%d/%m/%Y") if @viagem.data_partida %>
    </span>
  </p>


  <p>
    <label>Data de chegada: </label>
    <span>
      <%=h @viagem.data_chegada.strftime("%d/%m/%Y") if @viagem.data_chegada %>
    </span>
  </p>


  <p>
    <label>Horário de partida: </label>
    <span>
      <%=h @viagem.horario_partida.strftime("%H:%M") if @viagem.horario_partida %>
    </span>
  </p>


  <p>
    <label>Motoristas: </label>
    <span>
      <%=h @viagem.motoristas.collect(&:nome).to_sentence if @viagem.motoristas %>
    </span>
  </p>

  <p>
    <label>Veículo: </label>
    <span>
      <%=h "#{@veiculo.modelo} - #{@veiculo.placa} - #{CategoriaDeVeiculo.find(@veiculo.categoria_de_veiculo_id).nome}" if @veiculo %>
    </span>
  </p>

  <p>
    <label>Estado:</label>
    <span><%=h @viagem.estado %></span>
  </p>

  <% if !@viagem.motivo_id.nil? %>
    <p>
      <label>Motivo:</label>
      <span><%=h Motivo.find(@viagem.motivo_id).descricao %></span>
    </p>
  <% end %>

  <h1>Requisições atendidas</h1>
    <div id="tabela_exibir">

      <table id="requisicoes" class="tabela_padrao">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Protocolo</th>
            <th>Solicitante</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data</th>
            <th>Veículo</th>
            <th>Objetivo</th>
            <th>Tipo</th>
            <th>Referência</th>
          </tr>
        </thead>

        <tbody>
          <% @viagem.requisicoes_atendidas.each do |r_id| %>
            <% requisicao = Requisicao.find(r_id)%>
            <% solicitante = Solicitante.find(requisicao.solicitante_id) %>

            <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicao_path(requisicao) %>'">
              <td class="<%=h traduz_class_css(requisicao.estado) %>"><%=h requisicao.estado[0,10] %></td>
              <td><%=h requisicao.id %></td>
              <td><%=h solicitante.nome %></td>
              <td><%=h solicitante.cargo %></td>
              <td><%=h solicitante.email %></td>
              <td><%=h solicitante.telefone_ou_ramal %></td>
              <td><%=h requisicao.data_de_reserva.strftime("%d/%m/%Y") %></td>
              <td><%=h CategoriaDeVeiculo.find(requisicao.categoria_de_veiculo_id).nome %></td>
              <td><%=h ObjetivoDeReserva.find(requisicao.objetivo_de_reserva_id).texto %></td>
              <td><%=h requisicao.tipo ? requisicao.tipo : "-" %></td>
              <td><%=h requisicao.referencia_id ? requisicao.referencia_id : "-" %></td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
</div>

<!-- ======================================================================= -->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)"
    onmouseover="this.style.cursor='pointer'">
      Voltar
    </li>
    <li id="opcao_imprimir" onclick="window.print()"
    onmouseover="this.style.cursor='pointer'">
      <a href="javaScript:window.print()">Imprimir</a>
    </li>
    <li id="opcao_editar" onclick="location.href='<%= edit_viagem_path(@viagem) %>'"
    onmouseover="this.style.cursor='pointer'">
      <%= link_to 'Editar', edit_viagem_path(@viagem) %>
    </li>
    <% if current_user and current_user.has_role? :admin %>
      <% if viagem_pode_ser_cancelada(@viagem.estado) %>
        <li id="opcao_excluir" onclick="location.href='<%= cancelar_viagem_path(@viagem) %>'"
        onmouseover="this.style.cursor='pointer'">
          <%= link_to "Cancelar viagem", cancelar_viagem_path(@viagem) %>
        </li>
      <% end %>
    <% end %>
    <% if current_user and current_user.has_role? :admin %>
      <% if @viagem.pode_ser_fechada? %>
        <li id="opcao_aceitar" onclick="location.href='<%= fechar_viagem_path(@viagem) %>'" onmouseover="this.style.cursor='pointer'">
        <%= link_to 'Fechar viagem', fechar_viagem_path(@viagem) %>
      <% end %>
    <% end %>
    </li>
  </ul>
  <div class="pular_linha"></li>
</div>

<!-- ======================================================================= -->

