
<!-- ======================================================================= -->


<div class="show_padrao">

  <h1>Dados gerais</h1>

  <p>
    <label>Data de saída:</label>
    <span>
      <%=h @viagem.data_partida ? @viagem.data_partida.strftime("%d/%m/%Y") : '-' %>
    </span>
  </p>

  <p>
    <label>Data de chegada: </label>
    <span>
      <%=h @viagem.data_chegada ? @viagem.data_chegada.strftime("%d/%m/%Y") : '-' %>
    </span>
  </p>

  <p>
    <label>Horário de partida: </label>
    <span>
      <%=h @viagem.horario_partida ? @viagem.horario_partida.strftime("%H:%M") : '-' %>
    </span>
  </p>

  <p>
    <label>Motoristas: </label>
    <span>
      <%=h @viagem.motoristas ? @viagem.motoristas.collect(&:nome).to_sentence : '-' %>
    </span>
  </p>

  <p>
    <label>Veículo: </label>
    <span>
      <%=h @veiculo ? "#{@veiculo.modelo} - #{@veiculo.placa} - #{CategoriaDeVeiculo.find(@veiculo.categoria_de_veiculo_id).nome}" : '-' %>
    </span>
  </p>

  <p>
    <label>Estado:</label>
    <span><%=h @viagem.estado %></span>
  </p>

  <% if !@viagem.motivo_id.nil? %>
    <p>
      <label>Motivo:</label>
      <span><%=h Motivo.find(@viagem.motivo_id).descricao %></span>
    </p>
  <% end %>

  <%= render :partial => 'requisicoes_atendidas' %>

</div>

<!-- ======================================================================= -->

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)"
    onmouseover="this.style.cursor='pointer'">
      Voltar
    </li>
    <li id="opcao_imprimir" onclick="window.print()"
    onmouseover="this.style.cursor='pointer'">
      <a href="javaScript:window.print()">Imprimir</a>
    </li>
    <li id="opcao_editar" onclick="location.href='<%= edit_viagem_path(@viagem) %>'"
    onmouseover="this.style.cursor='pointer'">
      <%= link_to 'Editar', edit_viagem_path(@viagem) %>
    </li>
    <% if current_user and current_user.has_role? :admin %>
      <% if viagem_pode_ser_cancelada(@viagem.estado) %>
        <li id="opcao_excluir" onclick="location.href='<%= cancelar_viagem_path(@viagem) %>'"
        onmouseover="this.style.cursor='pointer'">
          <%= link_to "Cancelar viagem", cancelar_viagem_path(@viagem) %>
        </li>
      <% end %>
    <% end %>
    <% if current_user and current_user.has_role? :admin %>
      <% if @viagem.pode_ser_fechada? %>
        <li id="opcao_aceitar" onclick="location.href='<%= fechar_viagem_path(@viagem) %>'" onmouseover="this.style.cursor='pointer'">
        <%= link_to 'Fechar viagem', fechar_viagem_path(@viagem) %>
      <% end %>
    <% end %>
    </li>
  </ul>
  <div class="pular_linha"></li>
</div>

<!-- ======================================================================= -->

