<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "busca.js" %>
<%= calendar_date_select_includes "silver", :locale => "pt"%>
<%= javascript_include_tag "calendar_date_select/format_italian" %>
<div id="tabela_exibir">

  <table class="tabela_padrao" id="viagens">
    <tr>
      <th>Estado</th>
      <th>Data de partida</th>
      <th>Data de chegada</th>
      <th>Horário de partida</th>
      <th>Solicitantes</th>
      <th>Motoristas</th>
      <th>Veículo</th>
      <th>Requisição(s) atendida(s)</th>
    </tr>
<% @viagens.each do |viagem| %>
  <% (veiculo = Veiculo.find(viagem.veiculo_id)) if viagem.veiculo_id%>
  <tr onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= fechar_viagem_path(viagem) %>'">
    <%= "<td class=\""%><%=h viagem.estado.downcase.gsub(" ", "_") %><%= "\">"%>
      <%=h viagem.estado %>
    <%= "</td>"%>
    <td><%=h (viagem.data_partida.strftime("%d/%m/%Y")) if viagem.data_partida %></td>
    <td><%=h (viagem.data_chegada.strftime("%d/%m/%Y")) if viagem.data_chegada %></td>
    <td><%=h (viagem.horario_partida.strftime("%H : %M")) if (viagem.horario_partida) %></td>
    <td><%=h viagem.nomes_solicitantes.to_sentence  %></td>
    <td><%=h (viagem.motoristas.collect(&:nome).to_sentence) if viagem.motoristas  %></td>
    <td>
    <%=h veiculo.modelo + " - " +
        veiculo.placa + " - " +
        CategoriaDeVeiculo.find(veiculo.categoria_de_veiculo_id).nome if veiculo
        %>
  </td>
  <td><%=h viagem.requisicoes_atendidas.to_sentence %></td>
  <td onclick="location.href='<%= edit_viagem_path(viagem) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_viagem_path(viagem) %></td>
  </tr>
<% end %>
  </table>
</div>

