<% if current_user.has_role? :admin %>
  <a href="/usuarios/new" class="link_new">Adicionar Usu&aacute;rio</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Login</th>
    <th>Permiss&atilde;o</th>
    <th class="celula_neutra_estatica"></th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr >
    <td onclick="location.href='<%= usuario_path(usuario) %>'" onmouseover="this.style.cursor='pointer'"><%=h usuario.nome %></td>
    <td onclick="location.href='<%= usuario_path(usuario) %>'" onmouseover="this.style.cursor='pointer'"><%=h usuario.email %></td>
    <td onclick="location.href='<%= usuario_path(usuario) %>'" onmouseover="this.style.cursor='pointer'"><%=h usuario.login %></td>
    <td onclick="location.href='<%= usuario_path(usuario) %>'" onmouseover="this.style.cursor='pointer'">
      <%= to_permissao(usuario.roles.collect(&:name)) %>
    </td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_usuario_path(usuario) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_usuario_path(usuario) %></td>
      <td onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("deletar_dado.png", :border => 0, :alt => "Deletar"), usuario, :confirm => 'Tem certeza que deseja apagar?', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

