<div id="janela_login">

  <div id="login_logotipo">
  </div>

  <div id="login_usuario_senha">
    <% form_for(@usuario_session) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :login, "Login:" %>
        <%= f.text_field :login %>
      </p>
      <p>
        <%= f.label :password, "Senha:" %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.submit 'Entrar', :id => "submit" %>
      </p>
    <% end %>
  </div>

    <div id="login_inferior">
  </div>

</div>

