<div class="show_padrao">

  <h1>Dados do Estado</h1>

  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @estado.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Sigla:</div>
    <div class="linha_texto"><%=h @estado.sigla %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Status:</div>
    <div class="linha_texto"><%=h @estado.status %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_estado_path(@estado) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_estado_path(@estado) %></li>
  </ul>
</div>

