<div class="show_padrao">

  <h1>Dados do estado</h1>

  <p>
    <label>Nome:</label>
    <spam><%=h @estado.nome %></spam>
  </p>

  <p>
    <label>Sigla:</label>
    <spam><%=h @estado.sigla %></spam>
  </p>

  <p>
    <label>Status:</label>
    <spam><%=h @estado.status %></spam>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_estado_path(@estado) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_estado_path(@estado) %></li>
  </ul>
</div>

