<h1>Dados do solicitante</h1>

<p>
  <label>Nome:</label>
  <span><%=h @solicitante.nome %></span>
</p>

<p>
  <label>Email:</label>
  <span><%=h @solicitante.email %></span>
</p>

<p>
  <label>Matricula:</label>
  <span><%=h @solicitante.matricula %></span>
</p>

<p>
  <label>Cargo:</label>
  <span><%=h @solicitante.cargo %></span>
</p>

<p>
  <label>Ramal:</label>
  <span><%=h @solicitante.telefone_ou_ramal %></span>
</p>

<p>
  <label>Lab. ou Setor:</label>
  <span><%=h @solicitante.laboratorio_ou_setor %></span>
</p>

<p>
  <label><%= configuracoes.nome_centro %>:</label>
  <span><%=h Centro.find(@solicitante.centro_id).nome if @solicitante.centro_id %></span>
</p>

<p>
  <label>Status:</label>
  <span><%=h @solicitante.status %></span>
</p>

