<h1>Editing solicitante</h1>

<% form_for(@solicitante) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :matricula %><br />
    <%= f.text_field :matricula %>
  </p>
  <p>
    <%= f.label :cargo %><br />
    <%= f.text_field :cargo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @solicitante %> |
<%= link_to 'Back', solicitantes_path %>

