<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/solicitantes/new" class="link_new">Adicionar Solicitante</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Nome</th>
    <th>Email</th>
    <th>Matricula</th>
    <th>Cargo</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @solicitantes.each do |solicitante| %>
  <tr >
    <%= td_status solicitante %>
    <%= td_clickable solicitante_path(solicitante), solicitante.nome %>
    <%= td_clickable solicitante_path(solicitante), solicitante.email %>
    <%= td_clickable solicitante_path(solicitante), solicitante.matricula %>
    <%= td_clickable solicitante_path(solicitante), solicitante.cargo %>
    <% if admin %>
      <%= td_clickable edit_solicitante_path(solicitante),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

