<% if current_user.has_role? :admin %>
  <a href="/solicitantes/new" class="link_botao">Adicionar Solicitante</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Matricula</th>
    <th>Cargo</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @solicitantes.each do |solicitante| %>
  <tr >
    <td onclick="location.href='<%= solicitante_path(solicitante) %>'" onmouseover="this.style.cursor='pointer'"><%=h solicitante.nome %></td>
    <td onclick="location.href='<%= solicitante_path(solicitante) %>'" onmouseover="this.style.cursor='pointer'"><%=h solicitante.email %></td>
    <td onclick="location.href='<%= solicitante_path(solicitante) %>'" onmouseover="this.style.cursor='pointer'"><%=h solicitante.matricula %></td>
    <td onclick="location.href='<%= solicitante_path(solicitante) %>'" onmouseover="this.style.cursor='pointer'"><%=h solicitante.cargo %></td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_solicitante_path(solicitante) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_solicitante_path(solicitante) %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

