<div class="show_padrao">
<h1>Novo Solicitante</h1>

<% form_for(@solicitante) do |f| %>
  <%= mensagem_de_erro(@solicitante) %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :nome, "Nome:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :email, "E-mail:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :email %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :matricula, "Matr&iacute;cula:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :matricula %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :cargo_ou_funcao, "Cargo:", :class => "label_obrigatorio" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :cargo_ou_funcao %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :telefone_ou_ramal, "Ramal:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :telefone_ou_ramal %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :laboratorio_ou_setor, "Laborat&oacute;rio ou Setor:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :laboratorio_ou_setor %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">
      <%= f.label :centro_id, "Centro:"%>
    </div>
    <div class="linha_texto_neutro">
      <%= f.select :centro_id,
                    Centro.all.collect {|centro| [centro.nome, centro.id]},
                    {:include_blank => "Selecione um Centro"} %>
    </div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :sala, "Sala:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :sala %></div>
  </div>

    <div class="botao_concluir"><%= f.submit 'Criar Solicitante' %></div>

<% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
  </ul>
</div>

