<div class="show_padrao">
<h1>Novo Solicitante</h1>

<% form_for(@solicitante) do |f| %>
  <%= mensagem_de_erro(@solicitante) %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :nome, "Nome:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :nome %></div>
</div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :email, "E-mail:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :email %></div>
</div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :matricula, "Matrícula:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :matricula %></div>
</div>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :cargo, "Cargo:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :cargo %></div>
</div>

    <div class="botao_concluir"><%= f.submit 'Criar Solicitante' %></div>

<% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="location.href='<%= solicitantes_path %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Voltar', solicitantes_path %></li>
  </ul>
</div>

