<p>
  <b>Nome:</b>
  <%=h @solicitante.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @solicitante.email %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @solicitante.matricula %>
</p>

<p>
  <b>Cargo:</b>
  <%=h @solicitante.cargo %>
</p>


<%= link_to 'Edit', edit_solicitante_path(@solicitante) %> |
<%= link_to 'Back', solicitantes_path %>

