<div class="show_padrao">

<h1>Dados do Solicitante</h1>
  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @solicitante.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Email:</div>
    <div class="linha_texto"><%=h @solicitante.email %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Matricula:</div>
    <div class="linha_texto"><%=h @solicitante.matricula %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Cargo:</div>
    <div class="linha_texto"><%=h @solicitante.cargo %></div>
  </div>
<!-- ' -->
</div>
<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="location.href='<%= solicitantes_path %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Voltar', solicitantes_path %></li>
    <li id="opcao_editar" onclick="location.href='<%= edit_solicitante_path %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_solicitante_path(@solicitante) %></li>
    <li id="opcao_excluir" onclick="if (confirm('Tem certeza que deseja apagar?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '/solicitantes/<%= @solicitante.id %>';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'eVQGS/RJESVifJmId7HPFEBHkkxCb5UD50OwBvk/K7c='); f.appendChild(s);f.submit(); };return false;" onmouseover="this.style.cursor = 'pointer'">
      <%= link_to 'Excluir', @solicitante, :confirm => 'Tem certeza que deseja apagar?', :method => :delete %>
    </li>

  </ul>
</div>

