<div class="show_padrao">

<h1>Dados do Solicitante</h1>
  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @solicitante.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Email:</div>
    <div class="linha_texto"><%=h @solicitante.email %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Matricula:</div>
    <div class="linha_texto"><%=h @solicitante.matricula %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Cargo:</div>
    <div class="linha_texto"><%=h @solicitante.cargo %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Ramal:</div>
    <div class="linha_texto"><%=h @solicitante.telefone_ou_ramal %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Lab. ou Setor:</div>
    <div class="linha_texto"><%=h @solicitante.laboratorio_ou_setor %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Centro:</div>
    <div class="linha_texto"><%=h Centro.find(@solicitante.centro_id).nome if @solicitante.centro_id %></div>
  </div>
<!-- ' -->
</div>
<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_solicitante_path %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_solicitante_path(@solicitante) %></li>
    <% if @solicitante.estado == "Ativo" %>
      <li id="opcao_editar" onclick="location.href='<%= edit_solicitante_path %>'" onmouseover="this.style.cursor = 'pointer'">
        <%= link_to 'Desativar' %>
      </li>
    <% else %>
      <li id="opcao_editar" onclick="location.href='<%= edit_solicitante_path %>'" onmouseover="this.style.cursor = 'pointer'">
        <%= link_to 'Ativar' %>
      </li>
    <% end %>    
  </ul>
</div>

