<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SGTRAN - Sistema de gerenciamento de transporte</title>
  <%= stylesheet_link_tag 'sistema' %>
  <%= javascript_include_tag "definirCor" %>
</head>

<body>
<div id="cabecalho">
  <div id="logotipo"></div>
  <div id="nome_sistema">
    <h1>Sistema de gerenciamento de transporte</h1>
    <h2><%= configuracoes.instituicao if configuracoes.instituicao %></h2>
    <h3><%= configuracoes.nome_do_setor if configuracoes.nome_do_setor %></h3>
  </div>
</div>

  <%= yield %>

<div id="rodape">
  <div id="dados_gerais">
    <p>
      SGTRAN - Sistema de Gerenciamento de Transporte v.:0.0.1 <br />
    </p>
  </div>
  <div id="tecnologias">
    <img src="/images/rails_powered.jpg" />
    <img src="/images/mysql_powered.gif" />
  </div>
</div>

</body>
</html>

