<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SGTRAN - Sistema de gerenciamento de trasporte</title>
  <%= stylesheet_link_tag 'sistema' %>
  <%= javascript_include_tag "definirCor" %>
</head>
<body onload="definirCor()">

<!-- ======================================================================= -->

<% unless flash[:sucesso].blank? %>
    <div class="sucesso"><%= flash[:sucesso] %></div>
<% end %>

<!-- ======================================================================= -->

<div id="cabecalho">
  <div id="logotipo"></div>
  <div id="nome_sistema">
    <h1>Sistema de gerenciamento de trasporte</h1>
    <h2>Universidade Estadual do Norte Fluminense Darcy Ribeiro</h2>
    <h3>Prefeitura da UENF</h3>
    <h4>Assessoria de Transporte</h4>
  </div>
  <div id="login">
    <% if current_user %>
      <%= link_to "Sair", sair_path, :id => "logout" %>
    <% end %>
  </div>
</div>

<!-- ======================================================================= -->

<div id="visoes_do_sistema">
  <ul>
    <li id="opcao_requisicao" onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= requisicoes_path %>'"><%= link_to "Requisi&ccedil;&otilde;es", requisicoes_path %></li>
    <li id="opcao_viagem" onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= viagens_path %>'"><%=link_to "Viagens", viagens_path %></li>
    <li id="opcao_base_de_dados" onmouseover="this.style.cursor='pointer'" onclick="location.href='<%= solicitantes_path %>'"><%= link_to "Base de Dados", solicitantes_path %></li>
  </ul>
  <br class="pular_linha" />

<!-- ======================================================================= -->

<% if @sub_layout %>
  <div id="tabela_exibir">
    <%= render :partial => "layouts/#{@sub_layout}" %>
  </div>
<% else %>
  <%= yield %>
<% end %>
</div>

<!-- ======================================================================= -->

<div id="rodape">
  <div id="dados_gerais">
    <p>
      SGTRAN - Sistema de Gerenciamento de Transporte v.:0.0.1 <br />
      <!--&copy; 2009 - Universidae Estadual do Norte Fluminense Dary Ribeiro-->
    </p>
  </div>
  <div id="tecnologias">
    <img src="/images/rails_powered.jpg" />
    <img src="/images/mysql_powered.gif" />
  </div>
</div>

</body>
</html>

